<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/layui/css/layui.css" rel="stylesheet">
</head>

<body>
    <div class="layui-layout">
        <div style="padding: 16px;">
            <form class="layui-form" action="javascript:/">
                <div class="layui-form-item">
                    <label class="layui-form-label">频道名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="channel_name" lay-verify="required" placeholder="请输入频道名称"
                            value="{$data['channel_name'] | default='' }" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">邀请开关</label>
                    <div class="layui-input-block">
                        <input type="radio" name="invite_status" value="0" title="关闭" {if $data['invite_status']==0 }checked {/if}>
                        <input type="radio" name="invite_status" value="1" title="开启" {if $data['invite_status']==1 }checked {/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">频道密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" placeholder="请输入频道密码（可选，留空则不修改）"
                            autocomplete="off" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">如需修改密码，请输入新密码；否则留空</div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">允许发言</label>
                    <div class="layui-input-block">
                        <input type="radio" name="allow_speak" value="1" title="允许" {if $data['allow_speak']!=0 }checked {/if}>
                        <input type="radio" name="allow_speak" value="0" title="禁止" {if $data['allow_speak']==0 }checked {/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">允许评论</label>
                    <div class="layui-input-block">
                        <input type="radio" name="allow_comment" value="1" title="允许" {if $data['allow_comment']!=0 }checked {/if}>
                        <input type="radio" name="allow_comment" value="0" title="禁止" {if $data['allow_comment']==0 }checked {/if}>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">头像</label>
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn" id="ID-upload-btn">
                            <i class="layui-icon layui-icon-upload"></i> 单图片上传
                        </button>
                        <div style="width: 132px;">
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="ID-upload-img"
                                    style="width: 100%; height: 100px;" src="{$data['avatar']}">
                                <div id="ID-upload-text"></div>
                            </div>
                            <div class="layui-progress layui-progress-big" lay-showPercent="yes"
                                lay-filter="filter-progress">
                                <div class="layui-progress-bar" lay-percent=""></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">频道介绍</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入频道介绍" name="description"
                            class="layui-textarea">{$data['description'] | default='' }</textarea>
                    </div>
                </div>
                
                <input type="hidden" name="channel_id" value="{$data['channel_id'] | default='' }">
                <input type="hidden" name="avatar" id="avatar" value="{$data['avatar'] | default='' }">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit lay-filter="submitForm">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/layui/layui.js"></script>
    <script>
        layui.use(['form', 'laydate', 'util', 'upload'], function () {
            var form = layui.form;
            var layer = layui.layer;
            var $ = layui.$;
            var upload = layui.upload;
            var element = layui.element;
            
            // 提交事件
            form.on('submit(submitForm)', function (data) {
                var field = data.field;
                field.file = field.avatar
                
                $.ajax({
                    type: "post",
                    url: "/tools/channel/addOrEdit",
                    data: field,
                    dataType: "json",
                    success: function (res) {
                        layer.msg(res.msg, function () {
                            if (res.code == 0) {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            }
                        });
                    }
                });

                return false;
            });

            // 单图片上传
            var uploadInst = upload.render({
                elem: '#ID-upload-btn',
                url: '/index/setting/chatMessage',
                before: function (obj) {
                    obj.preview(function (index, file, result) {
                        $('#ID-upload-img').attr('src', result);
                    });

                    element.progress('filter-progress', '0%');
                    layer.msg('上传中', { icon: 16, time: 0 });
                },
                done: function (res) {
                    if (res.code > 0) {
                        return layer.msg('上传失败');
                    }
                    if (res.status == 1) {
                        var avatar = res.data.media_info + '.' + res.data.media_type
                        $("#avatar").val(avatar)
                    }
                    $('#ID-upload-text').html('');
                },
                error: function () {
                    var demoText = $('#ID-upload-text');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function () {
                        uploadInst.upload();
                    });
                },
                progress: function (n, elem, e) {
                    element.progress('filter-progress', n + '%');
                    if (n == 100) {
                        layer.msg('上传完毕', { icon: 1 });
                    }
                }
            });
        });
    </script>

</body>

</html>