{include file='index/header' /}

<div class="post">
	<img class="post-head" src="" />
	<div class="post-article">
		<div class="post-info-i">
			<h2><a href="">张三</a></h2>
			<small><i class="fa fa-clock-o"></i>2023-11-11
			<i class="fa fa-eye"></i>
			<a href=""><i class="fa fa-pencil-square-o"></i>编辑</a></small>
		</div>
		<div class="post-content">
	    	
		</div>
	</div>
	<div class="clear"></div>
	<div class="post-meta">
		<span style="width: 50%"><i class="fa fa-user"></i><a href="asdfasfdasd">张三</a></span>
	    <span style="width: 50%"><i class="fa fa-comment"></i>('1111 条')</span>
	    <div class="clear"></div>
	</div>
</div>

{include file='index/comments' /}
{include file='index/foot' /}