</div><!-- .article-list -->
<div class="clear"></div>
</div><!-- .body -->

<div class="foot">
	&copy; 2023 <a href="/">爱嘀咕</a>.
	<a href="javascript:void 0">嘀咕谁在这里～</a>
</div>

<div id="gotop" onclick="window.scrollTo(0,0)"><i class="fa fa-arrow-up"></i></div>

<script type="text/javascript" src="/static/common/js/wangEditor.min.js"></script>
<script type="text/javascript" src="/static/m/js/edit.js?t=5">	</script>
<!-- <script>
	layui.use(function () {
		var util = layui.util;
		// 自定义固定条
		util.fixbar({
			bars: [{ // 定义可显示的 bar 列表信息 -- v2.8.0 新增
				type: 'share',
				icon: 'layui-icon-share'
			}, {
				type: 'help',
				icon: 'layui-icon-help'
			}, {
				type: 'cart',
				icon: 'layui-icon-cart',
				style: 'background-color: #FF5722;'
			}, {
				type: 'groups',
				content: '群',
				style: 'font-size: 21px;'
			}],
			// bar1: true,
			// bar2: true,
			// default: false, // 是否显示默认的 bar 列表 --  v2.8.0 新增
			// bgcolor: '#393D52', // bar 的默认背景色
			// css: {right: 100, bottom: 100},
			// target: '#target-test', // 插入 fixbar 节点的目标元素选择器
			// duration: 300, // top bar 等动画时长（毫秒）
			on: { // 任意事件 --  v2.8.0 新增
				mouseenter: function (type) {
					layer.tips(type, this, {
						tips: 4,
						fixed: true
					});
				},
				mouseleave: function (type) {
					layer.closeAll('tips');
				}
			},
			// 点击事件
			click: function (type) {
				console.log(this, type);
				// layer.msg(type);
			}
		});
	});
</script> -->
</body>

</html>