</div><!-- .article-list -->
<div class="clear"></div>
</div><!-- .body -->

<div class="foot">
	&copy; 2023 <a href="/">爱嘀咕</a>.
	<a href="javascript:void 0">嘀咕谁在这里～</a>
</div>

<div id="gotop" onclick="window.scrollTo(0,0)"><i class="fa fa-arrow-up"></i></div>

<!-- <div id="zooming"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAC0lEQVQYV2NgAAIAAAUAAarVyFEAAAAASUVORK5CYII="></div> -->
<script type="text/javascript" src="/static/common/js/wangEditor.min.js"></script>
<script type="text/javascript" src="/static/m/js/edit.js?t=1">	</script>
</body>
</html>