<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>嘀咕~ 谁在这里？</title>
    <meta name="description" content="爱嘀咕,微博" />
    <meta name="keywords" content="weibo,微博" />
    <link rel="stylesheet" href="/static/m/i.css?1">
    <link rel="stylesheet" href="/static/layui/css/layui.css?t=1" type="text/css" media="screen" />
    <!-- <script src="//code.jquery.com/jquery-1.8.3.min.js" crossorigin="anonymous"></script> -->
    <!-- <script type="text/javascript" src="//apps.bdimg.com/libs/jquery-lazyload/1.9.5/jquery.lazyload.min.js"></script> -->
    <!-- <script charset="UTF-8" src="/static/m/i.js"></script> -->
    <link class="dplayer-css" rel="stylesheet" href="/static/dplayer/css/DPlayer.min.css">
    <script src="/static/m/js/jquery-1.8.3.min.js"></script>
    <script src="/static/layui/layui.js?4"></script>
    <script src="/static/dplayer/js/hls.light.min.js"></script>
    <script src="/static/dplayer/js/DPlayer.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/m/js/common.js?10"></script>
    <script language="javascript" type="text/javascript" src="/static/common/js/index.js?11"></script>
    <script language="javascript" type="text/javascript" src="/static/common/js/common.js?10"></script>
    <script language="javascript" type="text/javascript" src="/static/m/js/video.js?6"></script>

    <!--[if lte IE 8]>
    <style>
        html{background-image: none !important}
        #gotop{background-color: #484848}
    </style>
    <![endif]-->
</head>

<body>

    <div class="body c-min">
    {if !$userInfo.isSiteUser}
        {if $userInfo['theme']}
        <div class="body-top-bg shadow" style="background-image: url({$userInfo['theme']})">
        {else}
        <div class="body-top-bg shadow" style="background-image: url(/static/index/images/bg4.svg)">
        {/if}
            <img class="body-gravatar" src="{$userInfo.head_image}" />
            <h2>{$userInfo.nickname}</h2>
            <small><i>{$userInfo.intro|raw|default="暂无个人资料"}</i></small>
        </div>
    {/if}
        <div class="top-bar-body">
            <ul>
                <!-- <li class="current"><a href="/">我的首页</a></li> -->
                {if $userInfo.isSiteUser}
                <li {if $action == 'index' || !$action}class="current"{/if}><a href="{:url('/'.$loginUserInfo.blog.'/')}">我的首页</a></li>
                <li {if $action == 'own'}class="current"{/if}><a href="{:url('/'.$loginUserInfo.blog.'/own/')}" title="我的微博">我的微博</a></li>
                <li {if $action == 'blog'}class="current"{/if}><a href="/square/" title="广场">广场</a></li>
                <!-- <li><a href="javascript:;" data-title="我的云盘" data-url="/cloud/show/" onclick="showFrameHtml(this, '100%', '100%')">网盘</a></li> -->
                <!-- <li {if $action == 'info'}class="current"{/if}><a href="/info/">个人设置</a></li> -->
                <!-- <li><a href="javascript:;" data-title="我的云盘" data-url="/cloud/show/" onclick="showFrameHtml(this, '100%', '100%')">网盘</a></li> -->
                <li {if $action == 'tools'}class="current"{/if}>
					<a href="/tools/">小应用</a>
                    {if $chatRemind}
					<span class="layui-badge-dot layui-bg-blue" id="checkRemind"></span>
					{else} 
					<span class="layui-badge-dot layui-bg-blue" id="checkRemind" style="display: none;"></span>
					{/if}
				</li>
                {else} 
                <li {if $action == 'index' || !$action}class="current"{/if}><a href="{:url('/'.$userInfo.blog.'/')}">{$userInfo.sex|getPerson}的首页</a></li>
                <li {if $action == 'own'}class="current"{/if}><a href="{:url('/'.$userInfo.blog.'/own/')}" title="我的微博">{$userInfo.sex|getPerson}的微博</a></li>
                <li {if $action == 'info'}class="current"{/if}><a href="{:url('./'.$userInfo.blog.'/info/')}">{$userInfo.sex|getPerson}的信息</a></li>
                <li {if $action == 'blog'}class="current"{/if}><a href="/square/" title="广场">广场</a></li>
                <!-- <li><a href="javascript:;" data-title="我的云盘" data-url="/cloud/show/" onclick="showFrameHtml(this, '100%', '100%')">网盘</a></li> -->
                {/if}
            </ul>
        </div>
        <!-- <div class="sidebar">
        </div> -->
        <div class="article-list">
            <!-- <div class="post a-l-fc">
                <a href="javascript:alert('嘤嘤嘤')">QAQ</a>
                <form method="post" action="" class="fr">
                    <input type="text" name="s" size="32" placeholder="搜索文章" />
                    <button type="submit" id="searchsubmit"></button>
                    <label for="searchsubmit"><i class="is fa fa-search"></i></label>
                </form>
                <div class="clear"></div>
            </div> -->