<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/static/layui/css/layui.css?t=1" media="all">
  <link href="/static/common/css/up.min.css" rel="stylesheet">
  <link href="/static/upload/css/admin.css" rel="stylesheet">
  <link href="/static/upload/css/common.css" rel="stylesheet">
</head>
<body class="main_body white">
  {if !$hiddenHeader}
  <div class="layui-header">
    <ul class="layui-nav layui-layout">
      <li class="layui-nav-item"><a href="/cloud/"><i class="{if $action == 'index'} layui-this {/if} layui-icon layui-icon-upload-drag"></i>上传</a></li>
      <li class="layui-nav-item"><a href="/cloud/show/"><i class="{if $action == 'show'} layui-this {/if} layui-icon layui-icon-file"></i>
        文件</a></li>
      <li class="layui-nav-item"><a href="/cloud/collection/"><i class="{if $action == 'collection'} layui-this {/if} layui-icon layui-icon-delete"></i> 回收站</a></li>
  </div>
  {/if}
  <div class="layui-layout">
    <!-- <div class="layui-side layui-bg-white">
      <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
          <li class="layui-nav-item"><a href="/cloud/show/"><i class="layui-icon layui-icon-file"></i>
              所有的文件</a></li>
          <li class="layui-nav-item"><a href="/cloud/"><i class="layui-icon layui-icon-upload-drag"></i>上传文件</a></li>
          <li class="layui-nav-item"><a href="/cloud/collection/"><i class="layui-icon layui-icon-delete"></i> 删除的文件</a>
          </li>
        </ul>
      </div>
    </div> -->