{$userInfo}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<meta name="description" content="" />
<meta name="keywords" content=""/>
<link rel="stylesheet" href="/static/index/css/main.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript" src="/static/index/js/common.js"></script>
</head>
<body>
<div class="container">
<div class="header">
	<div class="logo"><a href="<{spUrl c=main a=index}>"><img src="/static/index/images/logo.gif" alt="logo" /></a></div>
	<div class="navigation">
		<ul>
{if $userInfo}
			<li><a href="/">微博首页</a></li>
			<li><a href="{:url('/'.getLoginBlog().'/')}">我的首页</a></li>
			<li><a href="<{spUrl c=wblog a=view}>">我的微博</a></li>
			<li><a href="{:url('./'.$userInfo.blog.'/setting/')}">个人设置</a></li>
			{if "WINADMIN" == $userInfo.acl_name}
			<li><a href="">站点管理</a></li>
			{/if}
			<li><a href="{:url('/'.$userInfo.blog.'/logout/')}">退出</a></li>
{else}
			<li><a href="/">微博首页</a></li>
			<li><a href="{:url('/login/')}">登录</a></li>
			<li><a href="<{:url('/register/')}>" target="_blank">注册</a></li>
{/if}
		</ul>
	</div>
	<div class="clear"></div>
</div>
<div class="main">
	<div class="contents">
{if $userMessage}
		{foreach $userMessage as $message}
		<div class="entry">
			<div class="avatar"><div class="imgborder"><a href=""><img src="{$userInfo.head_image|default=$defaultImage}" /></a></div></div>
			<div class="box">
				<p><a href="{:url('/'.$userInfo.blog.'/')}">{$message.nickname}</a>：{$message.contents}</p>
				<div class="static">
<span>
<a href="<{spUrl c=wblog a=win wid=$message.msg_id}>" target="_blank">查看</a> | 
<a href="javascript:void(0);" onclick="showform('repost', {$message.msg_id}, '<i>转发</i> {cutwin str=$message.contents len="5"}');">转发{if 0 != $message.repostsum}（{$message.repostsum}）{/if}</a> | 
<a href="javascript:void(0);" onclick="showform('atuser', {$message.msg_id}, '<i>回复</i> @{$message.nickname}  {cutwin str=$message.contents len="5"}');">回复</a> | 
<a href="javascript:void(0);" onclick="showform('comment', {$message.msg_id}, '<i>评论</i> {cutwin str=$message.contents len="5"}');">评论{if 0 != $message.commentsum}（{$message.commentsum}）{/if}</a>
 | <a href="<{spUrl c=wblog a=del wid=$message.msg_id}>">删除</a>
</span>
{$message.ctime|date='Y-m-d H:i:s'} 来自 {$message.refrom}
				</div>
			</div>
			<div class="clear"></div>
		</div>
		{/foreach}
{else}
		<div class="entry">
			<div class="box">
				<p>暂无微博...</p>
			</div>
			<div class="clear"></div>
		</div>
{/if}
{$page|raw}

<!-- {pager c=wblog a=index pager=$pager} -->
	</div>
<div class="sidebar">
		<div class="box">

			<div class="info">
				<div class="avatar"><a href=""><img src="{$userInfo.head_image|default=$defaultImage}" /></a></div>
				<div class="detail"><p><a href="">{$userInfo.nickname}</a></p><p>{$userInfo.city}</p></div>
				<div class="clear"></div>
			</div>
			<div class="counter">
				<div class="counterbox"><strong>{$userInfo.concern_count}</strong><br /><a href="">TA关注的</a></div>
				<div class="counterbox"><strong>{$userInfo.fans_count}</strong><br /><a href="">关注TA的</a></div>
				<div class="counterbox"><strong>{$userInfo.message_count}</strong><br /><a href="<{uri u=$userInfo.username}>">TA的微博</a></div>
			</div>
			<h2><a href="#">个人资料</a></h2>
			<p>{$userInfo.intro}</p>
<!-- 			{if "" != $userInfo.blog}
				<ul>
					<li><a href="<{$userInfo.blog}>">TA的博客</a></li>
				</ul>
			{/if} -->
		</div>
		<div class="box">
			<h3><span><a href="">更多>></a></span><a href="">TA关注的人</a></h3>
			<ul class="users">
			{if '' != $getMyConcern}
				{foreach $getMyConcern as $fans}
					<li>
						<a href="{:url('/'.$fans.blog.'/')}" /><img src="{$fans.head_image|default=$defaultImage}" /></a><br /><a href="{:url('/'.$fans.blog.'/')}">{$fans.nickname}</a><br />
						{if $fans.mutual_concern}
						<span><a href="">互相关注</a></span>
						{else}
						<span><a href="">关注TA</a></span>
						{/if}
					</li>
				{/foreach}
			{else}<li>暂无...</li>{/if}
			</ul>
			<div class="clear"></div>
		</div>
		<div class="box">
			<h3><span><a href="">更多>></a></span><a href="">关注TA的人</a></h3>
			<ul class="users">
			{if "" != $fansInfo}
				{foreach $fansInfo as $fans}
					<li>
						<a href="{:url('/'.$fans.blog.'/')}"><img src="{$fans.head_image|default=$defaultImage}" /></a><br /><a href="{:url('/'.$fans.blog.'/')}">{$fans.nickname}</a><br />
						{if $fans.mutual_concern}
						<span><a href="">互相关注</a></span>
						{else}
						<span><a href="">关注TA</a></span>
						{/if}
					</li>
				{/foreach}
			{else}<li>暂无...</li>{/if}
			</ul>
			<div class="clear"></div>
		</div>
		<div class="box">
			<h3>意见反馈</h3>
			<ul>
				<li>欢迎使用asdfasdf并提出宝贵建议。请点击<a href="<{spUrl c=feedback a=idea}>">这里</a>提交微博意见反馈。 </li>
			</ul>
			<ul>
				<li><a href="<{spUrl c=feedback a=jubao uid=$userInfo.uid}>">举报不良信息</a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clearall"></div>
<div class="footer">
	<div class="poweredby"><p>Powered by <a href="http://winblog.googlecode.com" target="_blank">SR.李</a></p></div>
	<div class="copyright"><p>asdfasdf</p></div>
</div>
</div>
</body>
</html>











<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<meta name="description" content="" />
<meta name="keywords" content=""/>
<link rel="stylesheet" href="/static/index/css/main.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript" src="/static/index/js/common.js"></script>
</head>
<body>
<div class="container">
<div class="header">
	<div class="logo"><a href="<{spUrl c=main a=index}>"><img src="/static/index/images/logo.gif" alt="logo" /></a></div>
	<div class="navigation">
		<ul>
{if $userInfo}
			<li><a href="<{spUrl c=main a=index}>">微博首页</a></li>
			<li><a href="<{spUrl c=wblog a=index}>">我的首页</a></li>
			<li><a href="<{spUrl c=wblog a=view}>">我的微博</a></li>
			<li><a href="<{spUrl c=panel a=info}>">个人设置</a></li>
			{if "WINADMIN" == $userInfo.acl_name}
			<li><a href="<{spUrl c=admin}>">站点管理</a></li>
			{/if}
			<li><a href="<{spUrl c=main a=logout}>">退出</a></li>
{else}
			<li><a href="<{spUrl c=main a=index}>">微博首页</a></li>
			<li><a href="<{spUrl c=main a=login}>">登录</a></li>
			<li><a href="<{spUrl c=main a=register}>" target="_blank">注册</a></li>
{/if}
		</ul>
	</div>
	<div class="clear"></div>
</div>
<div class="main">
	<div class="contents">
		<!-- <div class="top">啊手动阀手动阀</div> -->
<div class="post" id="postform" style="display:block;"><div class="postad" id="wcontent">你在做什么呢？</div>
<form action="<{spUrl c=wblog a=post}>" class="postform" method="POST" onsubmit="return post_submit();">
<input type="hidden" name="ref" value="123121">
<input type="hidden" name="formtype" value="post" id="formtype">
<input type="hidden" name="wid" id="wid">
<textarea name="contents" maxlength="140" id="wininput" onkeyup="check_len()"></textarea>
<div class="postnow"><span><input type="submit" value="发布" class="button" /></span>你还可以发布<em id="leftlen">140</em>字</div>
</form></div>
{if "" != $userMessage}
		{foreach $userMessage as $message}
		<div class="entry">
			<div class="avatar"><div class="imgborder"><a href=""><img src="" /></a></div></div>
			<div class="box">
				<p><a href="{uri u=$message.username}">{$message.nickname}</a>：{$message.contents}</p>
{if $message.block = 0 && "" != $message.block}
{foreach from=$message.block as $block}
				<div class="block">
					<div class="block_top"></div>
					<div class="block_body"><a href="">aesdfw</a>不知大打断施法阿瓦达<div class="block_static"><a href="javascript:void(0);" onclick="showform('repost', <{block.wid}>, '<i>转发</i> <{cutwin str=contents len="5"}>');">转发<（sdf）</a> | <a href="javascript:void(0);" onclick="showform('comment',asdfasdf>, '<i>评论</i> ');">评论（sadf）</a></div></div>
					<div class="block_bottom"></div>
				</div>
{/foreach}
{/if}
				<div class="static">
{if "" != $siteUser}
<span>
<a href="<{spUrl c=wblog a=win wid=$message.wid}>" target="_blank">查看</a> | 
<a href="javascript:void(0);" onclick="showform('repost', {$message.wid}, '<i>转发</i> {cutwin str=$message.contents len="5"}');">转发{if 0 != $message.repostsum}（{$message.repostsum}）{/if}</a> | 
<a href="javascript:void(0);" onclick="showform('atuser', {$message.wid}, '<i>回复</i> @{$message.nickname}  {cutwin str=$message.contents len="5"}');">回复</a> | 
<a href="javascript:void(0);" onclick="showform('comment', {$message.wid}, '<i>评论</i> {cutwin str=$message.contents len="5"}');">评论{if 0 != $message.commentsum}（{$message.commentsum}）{/if}</a>
 | <a href="<{spUrl c=wblog a=del wid=$message.wid}>">删除</a>
</span>
{else}
<span>
<a href="<{spUrl c=wblog a=win wid=$message.wid}>">查看</a> | 
<a href="javascript:void(0);" onclick="javascript:alert('请先登录本系统！');">转发{if 0 != $message.repostsum}（{$message.repostsum}）{/if}</a> | 
<a href="javascript:void(0);" onclick="javascript:alert('请先登录本系统！');">回复</a> | 
<a href="javascript:void(0);" onclick="javascript:alert('请先登录本系统！');">评论{if 0 != $message.commentsum}（{$message.commentsum}）{/if}</a>
</span>
{/if}
{$message.ctime|date='Y-m-d H:i:s'} 来自 {$message.refrom}
				</div>
			</div>
			<div class="clear"></div>
		</div>
		{/foreach}
{else}
		<div class="entry">
			<div class="box">
				<p>暂无微博...</p>
			</div>
			<div class="clear"></div>
		</div>
{/if}
{$page|raw}

<!-- {pager c=wblog a=index pager=$pager} -->
	</div>
<div class="sidebar">
		<div class="box">

			<div class="info">
				<div class="avatar"><a href=""><img src="" /></a></div>
				<div class="detail"><p><a href="">{$userInfo.nickname}</a></p><p>{$userInfo.city}</p></div>
				<div class="clear"></div>
			</div>
			<div class="counter">
				<div class="counterbox"><strong>111</strong><br /><a href="">我关注的</a></div>
				<div class="counterbox"><strong>111</strong><br /><a href="">关注我的</a></div>
				<div class="counterbox"><strong>{$userInfo.winsum}</strong><br /><a href="<{uri u=$userInfo.username}>">我的微博</a></div>
			</div>
			<h2><a href="#">个人资料</a></h2>
			<p>{$userInfo.intro}</p>
			{if "" != $userInfo.blog}
				<ul>
					<li><a href="<{$userInfo.blog}>">我的博客</a></li>
				</ul>
			{/if}
{if "TA" == '我'}
			<h2><a href="#">互动</a></h2>
			<ul>
				<li><a href="">收到的评论</a></li>
				<li><a href="">回复我的</a></li>
			</ul>
{/if}
		</div>
		<div class="box">
			<h3><span><a href="">更多>></a></span><a href="">我关注的人</a></h3>
			<ul class="users">
			{if '' != $fansInfo}
				{foreach $fansInfo as $fans}
					<li>
						<a href="" /><img src="" /></a><br /><a href="">{$fans.nickname}</a><br /><span><a href="">关注TA</a></span>
					</li>
				{/foreach}
			{else}<li>暂无...</li>{/if}
			</ul>
			<div class="clear"></div>
		</div>
		<div class="box">
			<h3><span><a href="">更多>></a></span><a href="">关注我的人</a></h3>
			<ul class="users">
			{if "" != $fansInfo}
				{foreach $fansInfo as $fans}
					<li>
						<a href=""><img src="" /></a><br /><a href="">{$fans.nickname}</a><br /><span><a href="">关注TA</a></span>
					</li>
				{/foreach}
			{else}<li>暂无...</li>{/if}
			</ul>
			<div class="clear"></div>
		</div>
		<div class="box">
			<h3>意见反馈</h3>
			<ul>
				<li>欢迎使用asdfasdf并提出宝贵建议。请点击<a href="<{spUrl c=feedback a=idea}>">这里</a>提交微博意见反馈。 </li>
			</ul>
			<ul>
				<li><a href="<{spUrl c=feedback a=jubao uid=$userInfo.uid}>">举报不良信息</a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clearall"></div>
<div class="footer">
	<div class="poweredby"><p>Powered by <a href="http://winblog.googlecode.com" target="_blank">SR.李</a></p></div>
	<div class="copyright"><p>asdfasdf</p></div>
</div>
</div>
</body>
</html>




























<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<meta name="description" content="" />
<meta name="keywords" content=""/>
<link rel="stylesheet" href="/static/index/css/main.css" type="text/css" media="screen" />
<<script src="/static/index/js/jquery-1.8.3.min.js"></script>
<<script src="/static/layer/layer.js"></script>
<script language="javascript" type="text/javascript" src="/static/index/js/common.js"></script>
</head>
<body>
<div class="container">
<div class="header">
	<div class="logo"><a href="<{spUrl c=main a=index}>"><img src="/static/index/images/logo.gif" alt="logo" /></a></div>
	<div class="navigation">
		<ul>
{if $userInfo}
			<li><a href="/">微博首页</a></li>
			<li><a href="{:url('/'.$userInfo.blog.'/')}">我的首页</a></li>
			<li><a href="<{spUrl c=wblog a=view}>">我的微博</a></li>
			<li><a href="{:url('./'.$userInfo.blog.'/setting/')}">个人设置</a></li>
			{if "WINADMIN" == 111111}
			<li><a href="">站点管理</a></li>
			{/if}
			<li><a href="{:url('/'.$userInfo.blog.'/logout/')}">退出</a></li>
{else}
			<li><a href="/">微博首页</a></li>
			<li><a href="{:url('/login/')}">登录</a></li>
			<li><a href="<{:url('/register/')}>" target="_blank">注册</a></li>
{/if}
		</ul>
	</div>
	<div class="clear"></div>
</div>
<div class="main">
	<div class="contents">
		<!-- <div class="top">啊手动阀手动阀</div> -->
<!-- <div class="post" id="postform" style="display:block;"><div class="postad" id="wcontent">&nbsp;</div>
<textarea name="contents" placeholder="你在做什么呢？" maxlength="140" id="msgInput" onkeyup="check_len1()"></textarea>
<div class="postnow"><span><input type="button" value="发布" class="button" id="button" /></span>你还可以发布<em id="leftlen1">140</em>字</div></div> -->
<div class="sendMsg"></div>
<script>
	$(function (){
		// $(".sendMsg").slideDown().delay(800).slideUp();
		$("#button").click(function(event) {
			var jsonData = {};
			jsonData.contents = $("#msgInput").val()
			sendMsg(jsonData, '', 'index', '', )
		});
	})
	function sendMsg(jsonData, action='index', index = '', additional = 1)
	{
		$.ajax({
				url: '/?s=index/ajax/'+action,
				type: 'GET',
				dataType: 'json',
				data: jsonData,
			})
			.done(function(data) {
				// 
				if (action == 'index') {
					$(".sendMsg").text(data.msg);
					$(".sendMsg").slideDown().delay(800).slideUp();
				} else {
					alertMsg(data.msg);
				}
				if (index) layer.close(index);
				if (data.status) {
					$("#msgInput").val('');
					check_len1();
					if (additional) {
						
					}
				}
				
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});
	}
	function alertMsg(msg, type) 
	{
		// layer.msg('演示完毕！您的口令：'+ pass +'<br>您最后写下了：'+text);
		layer.msg(msg, {
		  // offset: 't',
		  // anim: 6
		});
	}
	function repost(obj) 
	{
		var repost = '@'+$(obj).parents(".box").children('p').text();
		layer.open({
		  type: 1,
		  skin: 'layui-layer-rim', //加上边框
		  area: ['625px', '285px'], //宽高
		  title: "<b>转发：</b>"+repost,
		  content: '<div class="contents"><div class="post" id="postform"><div class="postad">&nbsp;</div><textarea placeholder="请输入转发内容" maxlength="140" id="repostInput" onkeyup="check_len2()"></textarea><div class="postnow">你还可以发布<em id="leftlen2">140</em>字</div></div></div>',
		  btn: ['转发',"取消"],
		  yes: function(index, layero){
		  	var jsonData = {};
		  	jsonData.contents = $("#repostInput").val();
		  	jsonData.repost = repost
		    sendMsg(jsonData, 'repost', index);
		  }
		});
	}
	function comment(commentId, uid)
	{
		layer.open({
		  type: 1,
		  skin: 'layui-layer-rim', //加上边框
		  area: ['625px', '285px'], //宽高
		  title: "<b>评论：</b>",
		  content: '<div class="contents"><div class="post" id="commentform"><div class="postad" >&nbsp;</div><textarea placeholder="请输入评论内容" maxlength="140" id="commentInput" onkeyup="check_len3()"></textarea><div class="postnow">你还可以发布<em id="leftlen3">140</em>字</div></div></div>',
		  btn: ['转发',"取消"],
		  yes: function(index, layero){
		  	var jsonData = {};
		  	jsonData.comment = $("#commentInput").val();
		  	jsonData.uid = uid;
		  	jsonData.commentId = commentId;
		    sendMsg(jsonData, 'comment', index, 0);
		  }
		});
	}
</script>
{if $userMessage}
		{foreach $userMessage as $message}
		<div class="entry">
			<div class="avatar"><div class="imgborder"><a href=""><img src="{$message.user.header_img|default=$defaultImage}" /></a></div></div>
			<div class="box">
				<p><a href="{:url('/'.$message.blog.'/')}" id="nickname">{$message.nickname}：</a>{$message.contents|raw}{$message.repost|raw}</p>


<!-- 				<div class="block">
					<div class="block_top"></div>
					<div class="block_body"><a href="">aesdfw:</a>不知大打断施法阿瓦达<div class="block_static"><a href="javascript:void(0);" onclick="">转发（sdf）</a> | <a href="javascript:void(0);" onclick="showform('comment',asdfasdf>, '<i>评论</i> ');">评论（sadf）</a></div></div>
					<div class="block_bottom"></div>
				</div> -->


				<div class="static">
<span>
<a href="{:url('/'.$userInfo.blog.'/'.'message/'.$message.msg_id)}" target="_blank">查看</a> | 
<a href="javascript:void(0);" onclick="repost(this)">转发{if 0 != $message.repostsum}（{$message.repostsum}）{/if}</a> | 
<!-- <a href="javascript:void(0);" onclick="showform('atuser', {$message.msg_id}, '<i>回复</i> @{$message.nickname}  {cutwin str=$message.contents len="5"}');">回复</a> | 
 --><a href="javascript:void(0);" onclick="comment({$message.msg_id}, {$siteUserId});">评论{if 0 != $message.commentsum}（{$message.commentsum}）{/if}</a>
 | <a href="<{spUrl c=wblog a=del wid=$message.msg_id}>">删除</a>
</span>
{$message.ctime|date='Y-m-d H:i:s'} 来自 {$message.refrom}
				</div>
			</div>
			<div class="clear"></div>
		</div>
		{/foreach}
{else}
		<div class="entry">
			<div class="box">
				<p>暂无微博...</p>
			</div>
			<div class="clear"></div>
		</div>
{/if}
{$userMessage|raw}

<!-- {pager c=wblog a=index pager=$pager} -->
	</div>
<div class="sidebar">
		<div class="box">

			<div class="info">
				<div class="avatar"><a href=""><img src="{$userInfo.head_image|default=$defaultImage}" /></a></div>
				<div class="detail"><p><a href="">{$userInfo.nickname}</a></p><p>{$userInfo.city}</p></div>
				<div class="clear"></div>
			</div>
			<div class="counter">
				<div class="counterbox"><strong>{$userInfo.concern_count}</strong><br /><a href="">我关注的</a></div>
				<div class="counterbox"><strong>{$userInfo.fans_count}</strong><br /><a href="">关注我的</a></div>
				<div class="counterbox"><strong>{$userInfo.message_count}</strong><br /><a href="<{uri u=$userInfo.username}>">我的微博</a></div>
			</div>
			<h2><a href="#">个人资料</a></h2>
			<p>{$userInfo.intro}</p>
<!-- 			{if "" != $userInfo.blog}
				<ul>
					<li><a href="<{$userInfo.blog}>">我的博客</a></li>
				</ul>
			{/if} -->
<!-- 			<h2><a href="#">互动</a></h2>
			<ul>
				<li><a href="">收到的评论</a></li>
				<li><a href="">回复我的</a></li>
			</ul> -->
		</div>
		<div class="box">
			<h3><span><a href="">更多>></a></span><a href="">我关注的人</a></h3>
			<ul class="users">
			{if '' != $getMyConcern}
				{foreach $getMyConcern as $fans}
					<li>
						<a href="{:url('/'.$fans.blog.'/')}" /><img src="{$fans.head_image|default=$defaultImage}" /></a><br /><a href="{:url('/'.$fans.blog.'/')}">{$fans.nickname}</a><br />
						<span><a href="{:url('/'.$fans.blog.'/')}">进入主页</a></span>
					</li>
				{/foreach}
			{else}<li>暂无...</li>{/if}
			</ul>
			<div class="clear"></div>
		</div>
		<div class="box">
			<h3><span><a href="">更多>></a></span><a href="">关注我的人</a></h3>
			<ul class="users">
			{if "" != $fansInfo}
				{foreach $fansInfo as $fans}
					<li>
						<a href="{:url('/'.$fans.blog.'/')}"><img src="{$fans.head_image|default=$defaultImage}" /></a><br /><a href="{:url('/'.$fans.blog.'/')}">{$fans.nickname}</a><br />
						<span><a href="{:url('/'.$fans.blog.'/')}">进入主页</a></span>
					</li>
				{/foreach}
			{else}<li>暂无...</li>{/if}
			</ul>
			<div class="clear"></div>
		</div>
		<div class="box">
			<h3>意见反馈</h3>
			<ul>
				<li>欢迎使用asdfasdf并提出宝贵建议。请点击<a href="<{spUrl c=feedback a=idea}>">这里</a>提交微博意见反馈。 </li>
			</ul>
			<ul>
				<li><a href="<{spUrl c=feedback a=jubao uid=$userInfo.uid}>">举报不良信息</a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clearall"></div>
<div class="footer">
	<div class="poweredby"><p>Powered by <a href="http://winblog.googlecode.com" target="_blank">SR.李</a></p></div>
	<div class="copyright"><p>asdfasdf</p></div>
</div>
</div>
</body>
</html>