
<div id="kt_footer" class="footer-container">
    
    <div class="footer-content">
        
        <div class="copyright-section">
            <span class="copyright-year">2021©</span>
            <a href="/" class="copyright-link" target="_blank"> 版权所有 <a
                    href="https://beian.miit.gov.cn/" class="beian-link" target="_blank"> 无</a> </a>
        </div>
        
        
        <ul class="footer-menu">
            <li class="menu-item">
                <a href="https://support.qq.com/products/365982" class="menu-link" target="_blank">建议和支持</a>
            </li>
            <!--
            <li class="menu-item">
                <a href="/blog/about" class="menu-link" target="_blank">关于我们</a>
            </li>

            <li class="menu-item">
                <a href="/blog/partner" class="menu-link" target="_blank">合作</a>
            </li>
            -->
        </ul>
        
    </div>
    
</div>
