<div id="kt_header" class="header-container">
    <div class="header-content">

        <div class="header-main">
            <div class="logo-section">
                <a href="/blog/" class="logo-link">
                    <img src="{{$Think.STATIC_URL}}static/cms/media/logos/logo1.png" class="logo-img" />
                </a>
            </div>

            <div class="nav-section">
                <ul class="nav-menu">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/">首页</a>
                    </li>

                    <li class="nav-item">
                        <a class="{{if '' == $categoryName}}active{{/if}} nav-link" href="/blog/">博文</a>
                    </li>

                    
                </ul>
            </div>


            <div class="user-section">
                <div class="user-actions">
                    {{if $userInfo}}
                    <div class="user-info">
                        <a href="javascript:;" title="头像" class="avatar-link">
                            <img src="{{$userInfo['head_image']}}" class="user-avatar" />
                        </a>
                        <li>
                            <a href="/blog/commit.html" class="toolbar-btn commit-btn">发文章</a>
                        </li>

                    </div>
                    {{else}}
                    <a href="/blog/login.html" class="login-link">登录</a>
                    {{/if}}
                </div>

            </div>
        </div>






    </div>



</div>