{include file='index/header' /}
{if $userInfo.isSiteUser}
	{assign name="whichUser" value="我" /}
{else}
	{assign name="whichUser" value="$userInfo.nickname" /}
{/if}
<div class="main">
	<div class="contents">
		<div class="top">关注</div>
		<h2><b>{$whichUser}</b>关注的人</h2>
		<h3><a href="{:url('/'.$userInfo.blog.'/'.'concern/')}"><b>{$whichUser}</b> 关注的人</a><span><a href="{:url('/'.$userInfo.blog.'/'.'fans/')}">关注 <b>{$whichUser}</b> 的人</a></span></h3>
		{foreach $userFans as $fans}
		<div class="entry">
			<div class="avatar"><div class="imgborder"><a href="{:url('/'.$fans.blog.'/own/')}"><img src="{$fans.head_image}" /></a></div></div>
			<div class="box">
				<p><a href="{:url('/'.$fans.blog.'/own/')}">{$fans.nickname}</a></p>
				<div class="detail">
					<ul>
						{if $fans.province && $fans.city}
						<li>{$fans.province}-{$fans.city}</li>
						{elseif $fans.province}
						<li>{$fans.province}</li>
						{else}
						<li>保密</li>
						{/if}
						<li>{$fans.message_sum}条微博</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		{/foreach}
{$userFans|raw}
	</div>
{if $userInfo.isSiteUser}
	{include file='index/sidebar_index' /}
{else}
	{include file='index/sidebar_user' /}
{/if}
{include file='index/footer' /}