
<script type="text/javascript" src="/static/common/js/wangEditor.min.js"></script>
<script type="text/javascript" src="/static/index/js/edit.js?t=2">	</script>
<script src="/static/live2d/js/L2Dwidget.min.js"></script>
<script src="/static/live2d/js/index.js"></script>
<div class="clearall"></div>
<div class="footer">
	<!-- <div class="poweredby"><p>Powered by <a href="" target="_blank">aidigu</a></p></div> -->
	<!-- <div class="copyright"><p >2018 - {:date('Y')}</p></div> -->
</div>
</div>
</body>
</html>