<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>嘀咕~ 谁在这里？</title>
<meta name="description" content="爱嘀咕,微博" />
<meta name="keywords" content="weibo,微博"/>
<link rel="stylesheet" href="/static/layui/css/layui.css?t=1" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/index/css/main.css?3" type="text/css" media="screen" />
<link class="dplayer-css" rel="stylesheet" href="/static/dplayer/css/DPlayer.min.css">
<link class="dplayer-css" rel="stylesheet" href="/static/common/css/vip.css">
<script src="/static/index/js/jquery-1.8.3.min.js"></script>
<script src="/static/layui/layui.js?4"></script>
<script src="/static/dplayer/js/hls.light.min.js"></script>
<script src="/static/dplayer/js/DPlayer.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/index/js/common.js?10"></script>
<script language="javascript" type="text/javascript" src="/static/common/js/index.js?6"></script>
<script language="javascript" type="text/javascript" src="/static/index/js/video.js?6"></script>
</head>
{if $userInfo['theme']}
<body style="background: url({$userInfo['theme']}) no-repeat 0 0;background-attachment:fixed;background-size:100% 100%;height:auto;min-height: 100%">
{else}
<body>
{/if}

<div class="container">
<div class="header">
	<!-- <div class="logo"><a href="/"><img src="/static/index/images/logo.gif" alt="logo"/></a></div> -->
	<div class="navigation">
		<ul>
			{if $userInfo.isSiteUser}
				<li><a href="{:url('/'.$loginUserInfo.blog.'/')}">我的首页</a></li>
				<li><a href="{:url('/'.$loginUserInfo.blog.'/own/')}">我的微博</a></li>
				<li><a href="/square/">广场</a></li>
				<li><a href="/topic/">话题</a></li>
				<li><a href="javascript:;" id="showCloud">网盘</a></li>
				<li><a href="{:url('./'.$loginUserInfo.blog.'/setting/')}">个人设置</a></li>
			{else}
				<li><a href="{:url('/'.$userInfo.blog.'/')}">{$userInfo.sex|getPerson}的首页</a></li>
				<li><a href="{:url('/'.$userInfo.blog.'/own/')}">{$userInfo.sex|getPerson}的微博</a></li>
				<li><a href="{:url('/'.$loginUserInfo.blog.'/')}">我的首页</a></li>
				<li><a href="/square/">广场</a></li>
				<li><a href="/topic/">话题</a></li>
			{/if}
			{if "WINADMIN" == 111}
			<li><a href="">站点管理</a></li>
			{/if}
			<li><a href="{:url('/logout/')}">退出</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>