{include file='index/header' /}
<style>
	.toolbar {
		margin-left: -6px;
		/* width: 55%; */
		float: left;
		/* border: 1px solid #ccc; */
	}

	.text {
		border: 1px solid #ccc;
		min-height: 100px;
	}

	.box-main p:nth-child(1) {
		float: left;
	}

	.w-e-panel-tab-content {
		height: 249px;
	}
</style>
<div class="main">
	<div class="contents">
		{if $userInfo.isSiteUser}
		<div class="post" id="postform" style="display:block;">
			<div class="postad" id="wcontent">&nbsp;</div>

			<div id="msgInput" class="text" maxlength="1400" onkeyup="check_len1()">
				<!-- <p>你在做什么呢</p> -->
			</div>
			<div class="postnow">
				<span>
					<input type="button" value="发布" class="button layui-btn layui-btn" id="button" />
				</span>
				你还可以发布<em id="leftlen1">1400</em>字
			</div>

			<!-- 表情等 -->
			<div id="msgToolBar" class="toolbar"></div>
			<div class="tool-class" style="display: none;">
				<div class="imgHtml" style="display: block;border-radius: 3px;">
					<!-- <img src="" width="70px" alt=""> -->
					上传成功！
					<i class="layui-icon layui-icon-close-fill" onclick="removeImg(this)"
						style="color: red;cursor:pointer;font-size:20px!important"></i>
				</div>
				<input type="hidden" id="imgVal">
			</div>
			<div class="clear"></div>
		</div>
		{else}
		<div class="top"></div>
		{/if}
		<input type="hidden" id="userInfo" value="{$userInfo|json_encode}" />
		<div class="sendMsg"></div>
		{if isset($userMessage[0])}
		<div id="msgContent">
			{foreach $userMessage as $message}
			<div class="entry">
				<div class="avatar">
					<div class="imgborder"><a href="{:url('/'.$message.blog.'/')}"><img
								src="{$message.head_image}" /></a></div>
				</div>
				<div class="box box-main">
					<p class="massageText">
						<a href="{:url('/'.$message.blog.'/own/')}" id="nickname">{$message.nickname}：
						</a>
						{$message.contents|raw}{$message.repost|raw}
					</p>
					{if $message.image}
					{if json_decode($message.image_info, true)['image_type'] == 'mp4'}
					<p class="massageImg" vid="{$message.image}"><video width="400px" controls="" name="media">
							<source src="{$message.image}" type="video/mp4">
						</video></p>
					{else}
					<p class="massageImg"><img width="75%" , src="{:getTypeImg($message.image_info)}"
							onclick="showMessageImg(this)" style="cursor:pointer;"></p>
					{/if}
					{/if}
					<div class="static">
						<span>
							<a href="{:url('/'.$message.blog.'/'.'message/'.$message.msg_id)}">查看</a> |
							<a href="javascript:void(0);"
								onclick="repost(this, {$message.uid}, {$message.msg_id})">转发{if 0 !=
								$message.repostsum}（{$message.repostsum}）{/if}</a> |
							<a href="javascript:void(0);" onclick="comment({$message.msg_id}, {$message.uid});">评论{if 0
								!=
								$message.commentsum}（{$message.commentsum}）{/if}</a>
							{if $userInfo.isSiteUser && request()->action()=='own'}
							| <a href="{:url('/'.$message.blog.'/'.'del/message/'.$message.msg_id)}">删除</a>
							{/if}
						</span>
						{$message.ctime|setMessageTime} 来自 {$message.refrom}
					</div>
				</div>
				<div class="clear"></div>
			</div>
			{/foreach}
			{else}
			<div class="entry">
				<div class="box">
					<p>暂无微博...</p>
				</div>
				<div class="clear"></div>
			</div>
			{/if}
			{$userMessage|raw}
		</div>
	</div>
	{if $userInfo.isSiteUser}
	{include file='index/sidebar_index' /}
	{else}
	{include file='index/sidebar_user' /}
	{/if}

	{include file='index/footer' /}