{include file='index/header' /}
<div class="main">
	<div class="contents">
<div class="sendMsg"></div>
		{foreach $userMessage as $message}
		<div class="entry">
			<div class="avatar"><div class="imgborder"><a href="{:url('/'.$message.blog.'/')}"><img src="{$message.head_image}" /></a></div></div>
			<div class="box">
				<p><a href="{:url('/'.$message.blog.'/')}" id="nickname">{$message.nickname}：</a>{$message.type|getReminderTypeName}了您的微博</p>
				<div class="static">
				<span>
				<a href="{:url('/'.$loginUserInfo.blog.'/'.'message/'.$message.msg_id)}">查看</a>
				<a href="javascript:;" data-title="评论" data-url="/chat/messageChatId/{$message.msg_id}" onclick="showFrameHtml(this, '60%', '70%')">评论({$message.commentsum})</a>
				</span>
				</div>
				
				<div class="block">
					<div class="block_top"></div>
					<div class="block_body">
						<div class="repost">
							<span>
								<a href="{:url('/'.$message.blog.'/')}">{$userInfo.nickname}:
							</span>
						</a>{$message.contents|raw}{$message.repost|raw}
						{if $message.media}
							{if json_decode($message.media_info, true)['media_type'] == 'mp4'}
							<p  class="massageImg"><video width="400px"  controls=""  name="media"><source src="{$message.media}" type="video/mp4"></video></p>
							{else}
							<p class="massageImg"><img width="75%" src="{:getTypeImg($message.media_info)}" onclick="showMessageImg(this)" style="cursor:pointer;"></p>
							{/if}
						{/if}
					</div>
					<div class="block_static">
						{$message.ctime|date='Y-m-d H:i:s'} 来自 {$message.refrom}
					</div></div>
					<div class="block_bottom"></div>
				
				</div>
				
			</div>

			<div class="clear"></div>

		</div>
		{/foreach}
	</div>
	{if $userInfo.isSiteUser}
		{include file='index/sidebar_index' /}
	{else}
		{include file='index/sidebar_user' /}
	{/if}
{include file='index/footer' /}