<div class="sidebar">

	<div class="box">

		<div class="info">
			<div class="avatar"><a href="javascript:;"><img src="/static/index/images/noavatar_small.gif" /></a></div>
			<div class="detail"><p><a href="/login">未登录</a></p></div>
			<div class="clear"></div>
		</div>
		<div class="counter">
			<div class="counterbox"><strong>0</strong><br /><a href="javascript:;">我关注的</a></div>
			<div class="counterbox"><strong>0</strong><br /><a href="javascript:;">关注我的</a></div>
			<div class="counterbox"><strong id="messageSum">0</strong><br /><a href="javascript:;">我的微博</a></div>
		</div>
		<h2><a href="javascript:;">站点介绍</a></h2>
		<p>本站，是一个别具一格的发现和分享生活的优质平台。</p>
		<p>在这里，大家能尽情探索来自五湖四海的精彩生活片段，无论是温馨治愈的日常点滴，还是充满趣味的奇妙瞬间，都能被轻松捕捉。</p>
		<p>希望每一位来到本站的朋友，都能在浏览和互动的过程中，寻找到属于自己的那份纯粹快乐，同时也能毫无保留地记录下生活里的桩桩件件趣事。</p>
		<p>无论是搞怪逗趣的糗事，还是意义非凡的珍贵时刻，都能通过文字、图片、视频等多样形式留存于此，让生活的美好永远定格。 </p>
	
		<!-- <h2><a href="javascript:;">举报</a></h2>
		<p>联系站长举报</p> -->

	
	</div>

	<div class="clear"></div>
</div>