<div class="sidebar">
		<div class="box">

			<div class="info">
				<div class="avatar"><a href="{:url('/'.$userInfo.blog.'/')}"><img src="{$userInfo.head_image}" /></a></div>
				<div class="detail"><p><a href="{:url('/'.$userInfo.blog.'/')}">{$userInfo.nickname}</a></p><p>{$userInfo.area}</p></div>
				<div class="clear"></div>
			</div>
			<div class="counter">
				<div class="counterbox"><strong>{$userInfo.follownum}</strong><br /><a href="{:url('/'.$userInfo.blog.'/concern/')}">我关注的</a></div>
				<div class="counterbox"><strong>{$userInfo.fansnum}</strong><br /><a href="{:url('/'.$userInfo.blog.'/fans/')}">关注我的</a></div>
				<div class="counterbox"><strong id="messageSum">{$userInfo.message_sum}</strong><br /><a href="{:url('/'.$userInfo.blog.'/own/')}">我的微博</a></div>
			</div>
			<h2><a href="javascript:;">签名</a></h2>
			<p>{$userInfo.intro|raw|default="暂无签名"}</p>

			<h2><a href="javascript:;">搜索</a></h2>
			<p>
					<input type="text" id="searchContent" name="keyword" placeholder="请输入搜索关键词" autocomplete="off" style="width: 70%; padding: 5px; border: 1px solid #ccc; border-radius: 3px;" />
					<button type="button" onclick="
                    const searchContent = document.getElementById('searchContent').value;
                    // 使用对象存储参数
                    const params = {
                        searchContent
                    };
                    // 过滤掉值为空的参数
                    const filteredParams = Object.entries(params).filter(([_, value]) => value !== '');
                    // 拼接过滤后的参数为查询字符串
                    const keyword = filteredParams.map(([key, value]) => `${key}=${encodeURIComponent(value)}`).join('&');
                    if (keyword) {
                        const utf8Encoded = encodeURIComponent(keyword).replace(/%([0-9A-F]{2})/g, (match, p1) => {
                            return String.fromCharCode('0x' + p1);
                        });
                        const base64Encoded = btoa(utf8Encoded);
                        const finalEncoded = encodeURIComponent(base64Encoded);
                        window.location.href = `/search/${finalEncoded}/`; 
                    } else {
						window.location.href = `/search/`; 
					}
                " style="padding: 5px 10px;background-color: var(--secondary-color);color: var(--primary-btn-color); border: none; border-radius: 3px; cursor: pointer;">查询</button>
				</form>
			</p>

			<h2><a href="javascript:;">互动</a></h2>
			<ul id="messageRemind" class="newReminder messageRemind" {if $chatRemind['messageRemind']} style="display: block;" {else}  style="display: none;"{/if}>
				<li><a href="{:url('/'.$userInfo.blog.'/newreply/')}">新的回复</a><span>（{$chatRemind['messageRemind']}）</span></li>
			</ul>

		</div>
		<div class="box">
			<h3><span><a href="{:url('/'.$userInfo.blog.'/concern/')}">更多>></a></span><a href="{:url('/'.$userInfo.blog.'/concern/')}">我关注的人</a></h3>
			<ul class="users">
				{foreach $getMyConcern as $fans}
					<li>
						<a href="{:url('/'.$fans.blog.'/own/')}" /><img src="{$fans.head_image}" /></a><br />
						<a class="users-nickname" href="{:url('/'.$fans.blog.'/own/')}">{$fans.nickname}</a>
						<!-- {if $fans.mutual_concern}
						<span><a href="javascript:;" onclick="fansFollow({$fans.uid}, 'unfollow')" onmouseover="blurToUnfollow(this,{$fans.uid})">互相关注</a></span>
						{else}
						<span><a href="javascript:;" onclick="fansFollow({$fans.uid}, 'unfollow')">取消关注</a></span>
						{/if} -->
					</li>
				{/foreach}
			</ul>
			<div class="clear"></div>
		</div>
		<div class="box">
			<h3><span><a href="{:url('/'.$userInfo.blog.'/fans/')}">更多>></a></span><a href="{:url('/'.$userInfo.blog.'/fans/')}">关注我的人</a></h3>
			<ul class="users">
				{foreach $fansInfo as $fans}
					<li>
						<a href="{:url('/'.$fans.blog.'/own/')}"><img src="{$fans.head_image}" /></a><br />
						<a class="users-nickname" href="{:url('/'.$fans.blog.'/own/')}">{$fans.nickname}</a>
						<!-- {if $fans.mutual_concern}
						<span><a href="javascript:;" onclick="fansFollow({$fans.uid}, 'unfollow')" onmouseover="blurToUnfollow(this,{$fans.uid})">互相关注</a></span>
						{else}
						<span><a href="javascript:;" onclick="fansFollow({$fans.uid}, 'addFollow')">关注TA</a></span>
						{/if} -->
					</li>
				{/foreach}
			</ul>
			<div class="clear"></div>
		</div>
		<div class="box">
			<!-- <h3>意见反馈</h3>
			<ul>
				<li>欢迎使用爱嘀咕并提出宝贵建议。请点击<a href="">这里</a>提交微博意见反馈。 </li>
			</ul>
			<ul>
				<li><a href="">举报不良信息</a></li>
			</ul> -->
		</div>
	</div>
	<div class="clear"></div>
</div>