{include file='index/header' /}
{if $userInfo.isSiteUser}
	{assign name="whichUser" value="我" /}
{else}
	{assign name="whichUser" value="$userInfo.nickname" /}
{/if}
<style>
	.avatar > div:hover img {
		transform: rotate(0deg);
		transform: scale(1.05);
		transition: all 200ms linear;
		opacity: 1;
		filter: saturate(100%);
	}
	.contents .avatar img {
		box-shadow: 0px 0px 5px 0px;
	}
</style>
<div class="main">
	<div class="contents">
		<div class="top">嘀咕小应用</div>
		
		{if sysConfig('app.openToolType')}
		<h2><a href="/tools/">全部应用 | </a><a href="/tools/in/">站内应用  | </a><a href="/tools/out/">站外应用</a></h2>
		{/if}

		{foreach $list as $appInfo}
		{if $appInfo['app_type'] == 0 || $appInfo['app_type'] == 1}
			<div class="entry" style="float: left;clear: unset;background: center;border-bottom:unset;margin: unset;width: 135px;">
				<div class="avatar" style="width: 135px;margin-right: unset;">
					<div>
						{if $appInfo['open_type'] == 0}
						<a href="javascript:;" data-title="{$appInfo['app_name']}" data-url="{$appInfo['app_url']}" onclick="showFrameCustom(this, '{$appInfo[\'app_config\']}')">
							<img src="{$appInfo['app_image']}" />
						</a>
						{elseif condition="$appInfo['open_type'] eq 1" /}
						<a href="{$appInfo['app_url']}">
							<img src="{$appInfo['app_image']}" />
						</a>
						{else /}
						<a href="{$appInfo['app_url']}" target="_blank">
							<img src="{$appInfo['app_image']}" />
						</a>
						{/if}
					</div>
					<p style="margin-top: 10px;">
						{if $appInfo['open_type'] == 0}
						<a href="javascript:;" data-title="{$appInfo['app_name']}" data-url="{$appInfo['app_url']}" onclick="showFrameCustom(this, '{$appInfo[\'app_config\']}')">
							{$appInfo['app_name']}
						</a>
						{elseif condition="$appInfo['open_type'] eq 1" /}
						<a href="{$appInfo['app_url']}">
							{$appInfo['app_name']}
						</a>
						{else /}
						<a href="{$appInfo['app_url']}" target="_blank">
							{$appInfo['app_name']}
						</a>
						{/if}
						{if in_array($appInfo['remind_key'], $chatRemind['types'])}
						<span class="layui-badge-dot layui-bg-blue"></span>
						{/if}
					</p>
				</div>
				<div class="clear"></div>
			</div>
		{/if}
		{/foreach}

	</div>
{if $userInfo.isSiteUser}
	{include file='index/sidebar_index' /}
{else}
	{include file='index/sidebar_user' /}
{/if}
{include file='index/footer' /}