{include file='index/header' /}
{if $userInfo.isSiteUser}
	{assign name="whichUser" value="我" /}
{else}
	{assign name="whichUser" value="$userInfo.nickname" /}
{/if}
<div class="main">
	<div class="contents">
		<div class="top">嘀咕小应用</div>

		{foreach $list as $appInfo}
			<div class="entry" style="float: left;clear: unset;background: center;">
				<div class="avatar" style="width: 100px;">
					<div>
						<a href="javascript:;" data-title="{$appInfo['app_name']}" data-url="{$appInfo['app_url']}" onclick="showFrameUrl(this, '{$appInfo[\'app_width\']}', '{$appInfo[\'app_height\']}', true)">
							<img src="{$appInfo['app_image']}" />
						</a>
					</div>
					<p>
						<a href="javascript:;" data-title="{$appInfo['app_name']}" data-url="{$appInfo['app_url']}" onclick="showFrameUrl(this, '{$appInfo[\'app_width\']}', '{$appInfo[\'app_height\']}', true)">
							{$appInfo['app_name']}
						</a>
						{if in_array($appInfo['remind_key'], $chatRemind)}
						<span class="layui-badge-dot layui-bg-blue"></span>
						{/if}
					</p>
				</div>
				<div class="clear"></div>
			</div>
		{/foreach}

	</div>
{if $userInfo.isSiteUser}
	{include file='index/sidebar_index' /}
{else}
	{include file='index/sidebar_user' /}
{/if}
{include file='index/footer' /}