{include file='index/header' /}

<div class="main">
	<div class="contents">
		<div class="top">话题</div>
		<h2>
			<a href="/topic/">话题广场 | </a>
			<a href="/mytopic/">我的话题</a>
		</h2>
		{foreach $topicArr as $topic}
		<div class="entry">
			<div class="box" style="width: 550px;">
				<p><a href="/topic/{$topic['topic_id']}/">{$topic['title']}</a></p>
				<div class="detail">
					<ul>
						<li>热度{$topic['count']}</li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		{/foreach}
{$topicArr|raw}
	</div>
{if $userInfo.isSiteUser}
	{include file='index/sidebar_index' /}
{else}
	{include file='index/sidebar_user' /}
{/if}
{include file='index/footer' /}