<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
  <style>
    .flow-div {
      height: 100%;
      overflow: auto;
      font-size: 0;
      text-align: left;
    }

    .flow-div li {
      display: inline-block;
      margin: 5px;
      font-size: 14px;
      width: 30%;
      margin-bottom: 10px;
      height: 200px;
      line-height: 100px;
      text-align: center;
      background-color: #eee;
    }

    .flow-div img {
      width: 100%;
      height: 100%;
    }
    .flow-div video {
      width: 100%;
      height: 100%;
      vertical-align: middle !important;
    }

    /* .flow-div-lazyimg{height: 300px; overflow: auto; text-align: center;}
    .flow-div-lazyimg img{width: 40%; height: 200px; margin: 0 3px 5px 0; border: none;} */
  </style>
</head>

<body>
  <div class="flow-div" id="ID-flow-div-manual"></div>
  <input type="hidden" value="{$id}" id="previewId">
  <input type="hidden" value="{$staticDomain}" id="staticDomain">

  <!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
  <script src="/static/layui/layui.js"></script>
  <script>
    var $ = layui.$
    function showMessageImg(obj) {
      var imgUrl = $(obj).attr('src');
      var json = {
        "title": "", //相册标题
        "id": 0, //相册id
        "start": 0, //初始显示的图片序号，默认0
        "data": [   //相册包含的图片，数组格式
          {
            "alt": "",
            "pid": 0, //图片id
            "src": imgUrl, //原图地址
            "thumb": "" //缩略图地址
          }
        ]
      }

      if (parent.layer) {
        parent.layer.photos({
          photos: json,
          anim: 5
        });
      } else {
        layer.photos({
          photos: json,
          anim: 5
        });
      }
    }

    function showVideoPopup(obj) {
      var videoUrl = $(obj).attr('src');
      var videoHtml = '<video controls="" name="media"><source src="' + videoUrl + '" type="video/mp4"></video>';

      if (parent.layer) {
        parent.layer.open({
          type: 1,
          title: false,
          closeBtn: 1,
          area: ['auto', 'auto'],
          skin: 'layui-layer-nobg', //没有背景色
          shadeClose: true,
          content: videoHtml
        });
      } else {
        layer.open({
          type: 1,
          title: false,
          closeBtn: 1,
          area: ['auto', 'auto'],
          skin: 'layui-layer-nobg', //没有背景色
          shadeClose: true,
          content: videoHtml
        });
      }
    }

    layui.use(function () {
      var flow = layui.flow;
      var id = $("#previewId").val()

      var imgArray = ['jiff', 'jpg', 'bmp', 'jpeg', 'png', 'gif'];
      var videoArray = ['mp4'];
      var otherArray = ['zip', 'rar', '7z', 'pdf'];

      // 流加载实例
      flow.load({
        elem: '#ID-flow-div-manual', // 流加载容器
        scrollElem: '#ID-flow-div-manual', // 滚动条所在元素，一般不用填，此处只是演示需要。
        isAuto: true,
        isLazyimg: true,
        end: ' ',
        done: function (page, next) { // 加载下一页
          $.ajax({
            type: "GET",
            url: "/tools/sourcematerial/preview",
            data: { id: id },
            dataType: "json",
            success: function (response) {
              var data = response.data
              var imgStr = ''
              var videoStr = ''
              var otherStr = ''
              var staticDomain = $("#staticDomain").val()

              for (var key in data) {
                if (imgArray.includes(data[key].media_type)) {
                  imgStr += '<li><a href="javascript:;"><img onclick="showMessageImg(this)" lay-src="' + staticDomain + data[key].media_info + '.' + data[key].media_type + '"></li>'
                } else if (videoArray.includes(data[key].media_type)) {
                  videoStr += '<li class="showVideo' + data[key].id + '"><video onclick="showVideoPopup(this)" src="' + staticDomain + data[key].media_info + '.' + data[key].media_type + '" controls="" name="media"><source src="' + staticDomain + data[key].media_info + '.' + data[key].media_type + '" type="video/mp4"></video></li>'
                } else {
                  otherStr += '<li><a href="' + staticDomain + data[key].media_info + '.' + data[key].media_type + '">点击下载' + staticDomain + data[key].file_name + '</a></li>'
                  // otherStr += '<li><a href="javascript:;"><img onclick="showMessageImg(this)" lay-src="' + staticDomain + data[key].media_info + '.' + data[key].media_type + '"></li>'
                }
              }
              next(imgStr, page < 1);
              next(videoStr, page < 1);
              next(otherStr, page < 1);

              // 获取 ID-flow-div-manual 下li的个数
              var liList = $('#ID-flow-div-manual').find('li');
              var liLength = liList.length;
              // var liHeight = liList[0].offsetHeight;
              // 每三个 li 为一行 获取ID-flow-div-manual的高度
              // var flowDivHeight = $('#ID-flow-div-manual').height();
              // 当前网页的父集iframe的高度 设置成ID-flow-div-manual的高度
              // parent.document.getElementById('iframe').style.height = flowDivHeight + 'px';
              for (var i = 0; i < liLength; i++) {
                var li = liList[i];
                if (li.getElementsByTagName('video').length > 0) {
                  var video = li.getElementsByTagName('video')[0];
                  video.addEventListener('click', function () {
                    var video = this;
                    var videoList = $('#ID-flow-div-manual').find('video');
                    for (var j = 0; j < videoList.length; j++) {
                      if (videoList[j] !== video) {
                        videoList[j].pause();
                      }
                    }
                  });
                }
              }

            }
          });
        }
      });
    });
  </script>

</body>

</html>