<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
</head>

<body class="main_body white">
  <div class="layui-layout">
    <div style="padding: 16px;">
      <table class="layui-hide" id="initTable" lay-filter="initTable"></table>
    </div>
  </div>

  <script type="text/html" id="toolbarInfo">
  <div class="layui-btn-container">
    <a href="/tools/nav/userList" class="layui-btn layui-btn-sm layui-btn-primary">返回我的应用</a>
  </div>
</script>

  <input type="hidden" value="" id="copyLink">

  <script type="text/html" id="barLineInfo">
  <div class="layui-clear-space">
    {{# if(d.is_added == 1) { }}
    <a class="layui-btn layui-btn-xs layui-btn-disabled">已添加</a>
    {{# } else { }}
    <a class="layui-btn layui-btn-xs layui-btn-success" lay-event="addToMyApp">添加到我的应用</a>
    {{# } }}
  </div>
</script>



  <script src="/static/layui/layui.js"></script>
  <script src="/static/common/js/clipboard.min.js"></script>
  <script>
    function copyLink(obj) {
      var $ = layui.$;
      var invite_code = $(obj).attr('data-url');
      $("#copyLink").attr('data-clipboard-text', window.location.protocol + '//' + window.location.host + '/tools/nav/joinGroup?invite_code=' + invite_code);
      var clipboard = new ClipboardJS('#copyLink')
      $("#copyLink").trigger('click');
      clipboard.destroy();
      layer.msg('链接已复制，分享好友就可以进行群聊天啦');
    }
    
    layui.use(['table', 'dropdown'], function () {
      var table = layui.table;
      var dropdown = layui.dropdown;
      
      // 创建渲染实例
      table.render({
        elem: '#initTable',
        url: '/tools/Nav/defaultList', // 实际接口地址
        // toolbar: '#toolbarInfo',
        defaultToolbar: false,
        height: 'full-35', // 最大高度减去其他容器已占有的高度差
        lineStyle: 'height: 70px;',
        css: [ // 重设当前表格样式
          '.layui-table-tool-temp{padding-right: 145px;}'
        ].join(''),
        cellMinWidth: 80,
        page: false,
        cols: [[
          { field: 'app_name', width: 200, align: 'center', title: '名称' },
          { field: 'app_image', align: 'center', title: '图象', templet: '<img width="50" height="50" src="{{= d.app_image || \'/static/index/images/default_app.png\' }}" alt="">' },
        //   { field: 'create_time', align: 'center', title: '创建时间' },
          { fixed: 'right', align: 'center', title: '操作', minWidth: 125, toolbar: '#barLineInfo' }
        ]],
        error: function (res, msg) {
          console.log(res, msg)
        }
      });

      // 工具栏事件
      table.on('toolbar(initTable)', function (obj) {
        var id = obj.config.id;
        var checkStatus = table.checkStatus(id);
        var othis = lay(this);
        // 工具栏事件在HTML中通过链接直接处理
      });

      // 触发单元格工具事件
      table.on('tool(initTable)', function (obj) {
          var data = obj.data; // 获得当前行数据
          
          if (obj.event === 'addToMyApp') {
              // 添加默认应用到我的应用
              layer.confirm('确定将 [' + data.app_name + '] 添加到我的应用列表吗？', function (index) {
                  layui.$.ajax({
                      type: "post",
                      url: "/tools/nav/addDefaultApp",
                      data: { 
                          'app_name': data.app_name,
                          'app_url': data.app_url,
                          'bg_color': data.bg_color // 传递bg_color参数
                      },
                      dataType: "json",
                      success: function (res) {
                          layer.msg(res.msg);
                          if (res.code == 0) {
                              table.reload('initTable');
                          }
                      }
                  });
              });
          }
      });

    });
  </script>
</body>
</html>