<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
</head>

<body class="main_body white">
  <!-- <div class="layui-header">
    <ul class="layui-nav layui-layout">
      <li class="layui-nav-item"><a href="">我的群</a></li>
  </div> -->

  <div class="layui-layout">
    <div style="padding: 16px;">
      <table class="layui-hide" id="initTable" lay-filter="initTable"></table>
    </div>
  </div>

  <script type="text/html" id="toolbarInfo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="createNav">创建</button>
  </div>
</script>

  <input type="hidden" value="" id="copyLink">

  <script type="text/html" id="barLineInfo">
  <div class="layui-clear-space">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </div>
</script>
  <script src="/static/layui/layui.js"></script>
  <script src="/static/common/js/clipboard.min.js"></script>
  <script>
    function copyLink(obj) {
      var $ = layui.$;
      var invite_code = $(obj).attr('data-url');
      $("#copyLink").attr('data-clipboard-text', window.location.protocol + '//' + window.location.host + '/tools/nav/joinGroup?invite_code=' + invite_code);
      // window.location.protocol + '//' + window.location.host + window.location.pathname
      var clipboard = new ClipboardJS('#copyLink')
      $("#copyLink").trigger('click');
      clipboard.destroy();
      layer.msg('链接已复制，分享好友就可以进行群聊天啦');
    }
    layui.use(['table', 'dropdown'], function () {
      var table = layui.table;
      var dropdown = layui.dropdown;
      // 创建渲染实例
      table.render({
        elem: '#initTable',
        url: '/tools/Nav/list', // 此处为静态模拟数据，实际使用时需换成真实接口
        toolbar: '#toolbarInfo',
        defaultToolbar: false,
        height: 'full-35', // 最大高度减去其他容器已占有的高度差
        lineStyle: 'height: 70px;',
        css: [ // 重设当前表格样式
          '.layui-table-tool-temp{padding-right: 145px;}'
        ].join(''),
        cellMinWidth: 80,
        page: false,
        cols: [[
          // { field: 'groupid', width: 20, align: 'center', title: 'ID' },
          { field: 'app_name', width: 180, align: 'center', title: '名称' },
          { field: 'app_image', width: 80, align: 'center', title: '图象', templet: '<img width="50" height="50" src="{{= d.app_image }}" alt="">' },
          {
            field: 'app_status', width: 100, align: 'center', title: '状态', templet: function (d) {
              //  0关闭，1站内，2站外
              if (d.app_status == 0) {
                return '<span class="layui-badge layui-bg-orange">禁用</span>';
              } else {
                return '<span class="layui-badge layui-bg-green">启用</span>';
              }
            }
          },
          // {
          //   field: 'app_type', align: 'center', title: '类型', width: 100, templet: function (d) {
          //     // '0全部，1pc,2手机'
          //     if (d.app_type == 0) {
          //       return '<span class="layui-badge layui-bg-gray">pc+手机</span>';
          //     } else if (d.app_type == 1) {
          //       return '<span class="layui-badge layui-bg-green">PC</span>';
          //     } else if (d.app_type == 2) {
          //       return '<span class="layui-badge layui-bg-orange">手机</span>';
          //     }
          //   }
          // },
          {
            field: 'open_type', align: 'center', title: '打开方式', width: 100, templet: function (d) {
              // 打开方式，0frame,1直接打开，2新窗口打开
              if (d.open_type == 0) {
                return '<span class="layui-badge layui-bg-gray">窗口</span>';
              } else if (d.open_type == 1) {
                return '<span class="layui-badge layui-bg-green">直接打开</span>';
              } else if (d.open_type == 2) {
                return '<span class="layui-badge layui-bg-orange">新标签打开</span>';
              }
            }
          },
          { field: 'create_time', align: 'center', title: '创建时间' },
          { fixed: 'right', align: 'center', title: '操作', minWidth: 125, toolbar: '#barLineInfo' }
        ]],
        done: function () {

        },
        error: function (res, msg) {
          console.log(res, msg)
        }
      });

      // 工具栏事件
      table.on('toolbar(initTable)', function (obj) {
        var id = obj.config.id;
        var checkStatus = table.checkStatus(id);
        var othis = lay(this);
        switch (obj.event) {
          case 'createNav':
            layer.open({
              title: '创建',
              type: 2,
              area: ['80%', '80%'],
              content: '/tools/nav/add',
              end: function () {
                table.reload('initTable')
              }
            });
            break;
          case 'getData':
            var getData = table.getData(id);
            console.log(getData);
            layer.alert(layui.util.escape(JSON.stringify(getData)));
            break;
          case 'LAYTABLE_TIPS':
            layer.alert('自定义工具栏图标按钮');
            break;
        };
      });

      // 触发单元格工具事件
      table.on('tool(initTable)', function (obj) { // 双击 toolDouble
        var data = obj.data; // 获得当前行数据
        // console.log(obj)
        if (obj.event === 'edit') {
          layer.open({
            title: '编辑信息:' + data.id,
            type: 2,
            area: ['80%', '80%'],
            content: '/tools/nav/edit?id=' + data.id,
            end: function () {
              table.reload('initTable')
            }
          });
        } else if (obj.event === 'del') {
          layer.confirm('确定删除 [' + data.app_name + '] 么', function (index) {
            layui.$.ajax({
              type: "post",
              url: "/tools/nav/del",
              data: { 'id': data.id },
              dataType: "json",
              success: function (res) {
                layer.msg(res.msg);
                if (res.code == 0) {
                  table.reload('initTable')
                }
              }
            });
          });
        }
      });

    });
  </script>
</body>

</html>