/*公共样式*/
body {
    background-color: #F6F8F9;
  }

  .main_body {
    min-width: 320px;

  }

  .main_body_content {
    width: 100%;
    position: relative;
    padding-top: 30px;
  }

  .layui-nav .layui-nav-item a {
    cursor: pointer;
  }

  .layui-nav .layui-nav-item>a {
    color: rgba(255, 255, 255, 1);
    max-height: 60px;
  }

  .layui-layer-tab .layui-layer-title span {
    padding: 0 !important;
  }

  .main_hd h2 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  iframe {
    width: 100%;
    min-height: 625px;
    margin: auto;
    border: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #f6f8f9;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }

  html,
  body,
  .navBar .layui-nav,
  .navBar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }

  .navBar::-webkit-scrollbar,
  .navBar .layui-nav::-webkit-scrollbar,
  iframe::-webkit-scrollbar {
    display: none;
  }

  .top_menu.layui-nav .layui-nav-child dd.layui-this a,
  .closeBox.layui-nav .layui-nav-child dd.layui-this a,
  .closeBox .layui-nav-child dd.layui-this,
  .top_menu .layui-nav-child dd.layui-this {
    background: none;
    color: #333;
  }



  /*模拟加载层图标样式*/
  .layui-layer-dialog .layui-layer-content .layui-layer-ico16 {
    background-size: 100% 100% !important;
  }

  /*样式改变的过渡*/
  .clildFrame.layui-tab-content,
  .layui-body,
  .layui-footer,
  .layui-layout-admin .layui-side,
  .logo,
  .topLevelMenus li.layui-nav-item,
  .topLevelMenus li.layui-nav-item:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  /*隐藏*/
  *[mobile],
  .component .layui-select-title i.layui-edge {
    display: none;
  }

  /*打开页面动画*/
  .layui-tab-item.layui-show {
    animation: moveTop 1s;
    -webkit-animation: moveTop 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
  }

  @keyframes moveTop {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @-o-keyframes moveTop {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @-moz-keyframes moveTop {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @-webkit-keyframes moveTop {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }



  /*顶部*/
  img {
    max-width: 100%;
    height: auto;
  }

  .header {
    z-index: 2;
    width: 100%;
  }

  .logo {
    color: #fff;
    float: left;
    line-height: 60px;
    font-size: 18px;
    padding: 0 25px;
    text-align: center;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .logo img {
    max-height: 60px;
  }

  .hideMenu {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 15px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    padding: 5px 5px;
    color: #fff;
    background-color: #1AA094;
    display: none !important;

  }

  .hideMenu:hover {
    color: #fff;
  }

  .layui-nav cite {
    margin-left: 5px;
    vertical-align: middle;
    padding-left: 10px;
  }

  .layui-nav dl cite {
    padding-left: 0px;
  }

  .top_menu cite {
    margin-left: 0;
    padding-left: 6px;
  }

  .top_menu dl cite {
    margin-left: 6px;

  }

  /*顶部右侧*/
  .topLevelMenus {
    float: left;
  }

  .topLevelMenus li.layui-nav-item:hover {
    background-color: rgba(221, 221, 221, 0.2);
  }

  .layui-nav .layui-this:after {
    bottom: -5px !important;
  }

  .header .layui-nav-bar {
    top: 0px !important;
  }

  .topLevelMenus .layui-nav-item.layui-this {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .top_menu.layui-nav .layui-this:after {
    width: 0px;
  }

  .top_menu .layui-nav-bar,
  .mobileTopLevelMenus .layui-nav-bar {
    background-color: transparent;
  }

  .layui-nav-img {
    margin-right: 0;
  }

  /*左侧导航*/
  .layui-nav {
    background-color: inherit !important;

  }

  .navBar .layui-nav {
    overflow-y: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 1px solid #e7e7eb;
    margin-right: -1px;
    padding-bottom: 40px;
  }

  .layui-layout-admin .layui-side {
    position: static;
    top: 0px;
    left: 0;
  }

  .clildFrame.layui-tab-content {
    margin-left: 260px;

  }

  .layui-elem-quote {
    background-color: #fff;
  }

  .clildFrame.layui-tab-content .layui-tab-item {
    width: 85%;
    margin: auto;
    max-width: 1280px;
  }

  .lt {
    float: left;
  }

  .layui-nav-tree,
  .layui-side-scroll,
  .layui-layout-admin .layui-side {
    width: 265px;
  }

  .showMenu.layui-layout-admin .layui-side {
    left: 0px;
  }

  .showMenu+.site-mobile-shade {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9;
  }


  .navBar .layui-nav-tree .layui-nav-more {
    right: 20px;
    display: none;
  }

  .layui-nav-tree .layui-nav-bar {
    background-color: transparent;
  }

  /*layui-body*/
  .layui-body {
    overflow: hidden;
    background: #fff;
  }

  .layui-tab-title .layui-this {
    background-color: #1AA094;
    color: #fff;
  }

  .layui-tab-title .layui-this:after {
    border: none;
  }

  .layui-tab-title li cite {
    font-style: normal;
    padding-left: 5px;
  }



  .header .layui-nav .layui-nav-item,
  .header .layui-nav .layui-nav-item>a,
  .header,
  .logo {
    line-height: 60px !important;
    max-height: 60px !important;
  }

  .mobileTopLevelMenus {
    float: left;
  }

  .hideMenu {
    margin-top: 13px;
  }

  .navBar .layui-nav cite {
    font-size: 16px;
  }

  .navBar .layui-nav dl cite {
    font-size: 14px;
  }

  .navBar .layui-icon {
    font-size: 20px;
    vertical-align: middle;
  }

  .navBar dl .layui-icon {
    font-size: 18px;
  }

  .navBar .layui-nav .layui-nav-item a {
    padding-left: 40px;

  }

  .navBar .layui-nav-itemed .layui-nav-child a {
    padding-left: 70px;
    padding-right: 30px;
  }



  .white .navBar .layui-nav-tree .layui-nav-item {
    padding: 10px 0;
  }

  .white .navBar .layui-nav-tree .layui-nav-item::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #e7e7eb;
    left: 76px;
    width: 43%;
    bottom: 0px;

  }

  .layui-nav-itemed:before {
    top: inherit;
  }

  .navBar .layui-nav-itemed>.layui-nav-child {
    background-color: rgba(0, 0, 0, .0) !important;
  }



  /*左侧用户头像*/
  .top_menu {
    background-color: inherit !important;
    position: absolute;
    right: 0;
    top: 0;
  }

  .layui-layout-admin .layui-side {
    left: 0;
    overflow: hidden;
  }

  .user-photo {
    width: 100%;
    height: 120px;
    padding: 15px 0 5px;
  }

  .user-photo a.img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
  }

  .user-photo a.img img {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #44576b;
    box-sizing: border-box;
  }

  .user-photo p {
    display: block;
    width: 100%;
    height: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    line-height: 25px;
    overflow: hidden;
  }


  /*白色*/

  .white .layui-body {
    border-top: none;
    border-left: 2px solid #eaeaea;
  }

  .white .footer {
    border-left: 2px solid #eaeaea;
  }

  .white .layui-nav .layui-nav-mored,
  .white .layui-nav-itemed>a .layui-nav-more {
    border-color: #333 transparent transparent;
  }

  .white .layui-nav .layui-nav-more {
    border-color: #333 transparent transparent;
  }

  .white .layui-nav .layui-nav-mored,
  .white .layui-nav-itemed>a .layui-nav-more {
    border-color: transparent transparent #333;
  }

  .white .layui-bg-black,

  .white .hideMenu,
  .white .layui-nav-tree .layui-nav-child a {
    background-color: #F6F8F9 !important;
    color: #000;
  }

  .white .logo,
  .white .layui-nav .layui-nav-item>a,
  .white .layui-nav .layui-nav-item a:hover,
  .white .layui-nav .layui-this a,
  .white .user-photo p {
    color: #000 !important;
  }

  .white .user-photo a.img img {
    border: 4px solid #F2F2F2;
  }

  .white .layui-header {
    box-shadow: 0 1px 2px rgba(150, 150, 150, 0.3);
  }

  .white .layui-tab-title .layui-this,
  .white .layui-layout-admin .layui-header {
    background-color: #fff !important;
    color: #000;
  }

  .white .layui-nav-item.layui-nav-itemed,
  .white #top_tabs_box,
  .white .layui-nav-tree .layui-nav-child dd.layui-this,
  .white .layui-nav-tree .layui-this,
  .white .layui-nav-tree .layui-this>a:hover,
  .white .layui-nav .layui-this a {
    background-color: #F6F8F9 !important;
  }

  .white .layui-nav .layui-nav-item a:hover {
    background-color: transparent !important;
  }

  .white .layui-nav-tree .layui-nav-child dd.layui-this a,
  .white .layui-nav-tree .layui-this>a {
    color: #009688 !important;
    font-weight: bold;
  }

  .white .layui-nav-tree .layui-nav-item a:hover {
    background-color: #e3e3e3 !important;
  }

  .back-to-top {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
  }

  .site-tree-mobile {
    display: none;
    position: fixed;
    z-index: 100000;
    bottom: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
  }

  /**/
  .footer {
    padding-left: 260px;
  }

  .footer p {
    text-align: center;
    line-height: 44px;
    z-index: 999;
    border-top: 1px solid #e7e7eb;
    width: 86%;
    margin: auto;
    max-width: 1300px;
  }



  /*响应式样式*/
  @media screen and (max-width:1400px) {
    iframe {
      min-height: 550px;
    }
  }

  @media screen and (max-width:1080px) {
    .mobileTopLevelMenus[mobile] {
      display: inline-block;
    }

    .site-mobile .site-tree-mobile,
    .topLevelMenus[pc] {
      display: none !important;
    }
  }

  @media screen and (max-width: 992px) {
    .layui-layout-admin .layui-side {
      position: fixed;
      top: 0;
    }

    .layui-nav-child {
      right: 0;
      left: inherit;
    }

    .footer {
      padding-left: 0px;
    }

    .clildFrame.layui-tab-content {
      margin-left: 0;
    }

    .hideMenu {
      display: block !important;
    }

    .mobileTopLevelMenus[mobile] {
      padding: 0;
    }

    .top_menu>li[pc] {
      display: none !important;
    }

    /*左侧导航*/
    .layui-layout-admin .layui-side {
      left: -270px;
    }

    .site-mobile .layui-side {
      left: 0;
      z-index: 1100;
    }



    .site-mobile .site-mobile-shade {
      content: '';
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .8);
      z-index: 999;
    }

    .layui-body,
    .layui-layout-admin .layui-footer {
      left: -2px;
    }

    .clildFrame.layui-tab-content .layui-tab-item {
      width: 95%;
    }

    .main_body_content {
      padding-top: 10px;
    }

    .main_hd h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }

  }

  @media screen and (max-width:480px) {
    iframe {
      padding: 0px;
      min-height: 480px;
    }

    .main_body_content {
      padding-top: 0px;
    }

    .clildFrame.layui-tab-content .layui-tab-item {
      width: 100%;
    }

    .logo {
      width: auto;
      max-width: 180px;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 0;
    }

    .layui-tab-title li {
      line-height: 39px;
    }

    #userInfo>a {
      padding: 0 10px;
    }

    .mobileTopLevelMenus[mobile] li>a {
      padding: 0 17px 0 15px;
    }

    .layui-layout-admin .layui-footer p {
      font-size: 12px;
    }

    .layui-nav.top_menu {
      padding: 0 5px;
    }

    .adminName {
      padding-right: 10px;
    }

    .top_menu dd[pc] {
      display: none !important;
    }

    *[mobile],
    .top_menu .layui-nav-item.showNotice[pc] {
      display: inline-block !important;
    }

    .site-tree-mobile {
      display: block !important;
    }

    .hideMenu {
      display: none !important;
    }

    .layui-nav-tree,
    .layui-side-scroll,
    .layui-layout-admin .layui-side {
      width: 240px;
    }
  }