{{include file='layout/header' /}}

<body id="kt_body">


	<div class="edit-container">

		<div class="edit-page">


			<div id="kt_wrapper">
				{{include file='layout/kt_header' /}}

				<div id="kt_content" class="edit-content">


					<div id="kt_post" class="edit-post">

						<div class="container">


							<div class="edit-card">

								<div class="card-header">

									<div class="card-title">标题标题</div>

								</div>


								<div class="card-body">


									<div class="form-row type-row">


										<div class="form-col">
											<label class="form-label">类型</label>
											<input type="radio" name="type" id="option1" value="1" autocomplete="off"
												 class="form-radio">
											<label for="option1" class="radio-label">问题</label>
											<input type="radio" name="type" id="option2" value="2" autocomplete="off"
												 class="form-radio">
											<label for="option2" class="radio-label">经验分享</label>
										</div>
									</div>


									<div class="form-row toolbar-row">

									</div>



									<div class="form-row title-row">


										<div class="form-col">
											<label class="form-label">标题</label>
											<input type="text" name="title" class="form-input"
												value="{{$article.title}}" autocomplete="off" />
										</div>
									</div>



									<div class="form-row content-row">


										<div class="form-col">
											<label class="form-label">内容</label>
											<div id="msgToolBar" class="editor-toolbar"></div>
											<div id="msgInput" class="editor-container">
												<textarea style="display:none;"
													class="editor-textarea">{{$article.content_filtered}}</textarea>
											</div>

										</div>
									</div>




								</div>


								<div class="card-footer">
									<button type="submit" id="kt_commit_submit" class="submit-btn">发表</button>
								</div>

		
							</div>

						</div>

					</div>

				</div>

				{{include file='layout/footer' /}}
			</div>

		</div>

	</div>



</body>


</html>
<script type="text/javascript" src="{{$Think.STATIC_URL}}static/common/js/wangEditor.min.js"></script>
<script src="{{$Think.STATIC_URL}}static/cms/js/edit.js"></script>

<script>
	$(function () {
		$("#kt_commit_submit").click(function () {
			var info = {}
			info.type = $("input[name='type']").val()
			info.content_filtered = $("textarea[name='test-editormd-markdown-doc']").val()
			info.content = editor.txt.html();
			info.title = $("input[name='title']").val()


			if (!info.type) {
				alertMsg("请选择类型")
				return
			}


			if (!info.title) {
				alertMsg("请填写标题")
				return
			}

			if (!info.content) {
				alertMsg("请填写内容")
				return
			}



			$.ajax({
				type: "POST",
				url: "/cms/commit/commitEdit",
				data: { info: info },
				dataType: "json",
				success: function (json) {
					if (!json.code) {
						alertMsg(json.msg)
					} else {
						alertMsg(json.msg)
					}
				}
			})
				.always(function () {
					alertLoading()
				}).complete(function () {
					layer.closeAll('loading', function () { });
				});
		})
	})
</script>