{{include file='layout/header' /}}

<body id="kt_body">
	
	
	<div class="download-list-container">
		
		<div class="download-list-page">
			
			
			<div id="kt_wrapper">
				{{include file='layout/kt_header' /}}
				
				<div id="kt_content" class="download-list-content">
					
					<div id="kt_toolbar" class="download-toolbar">
						<div class="container">
							
							<div class="toolbar-info">
								
							</div>
							
							
							<div class="toolbar-actions">
								<a href="/blog/commit.html" class="toolbar-btn commit-btn">发文章</a>
								<a href="/blog/share" class="toolbar-btn share-btn">上传文件</a>
							</div>
							
						</div>
					</div>
					
					
					<div id="kt_post" class="download-list-post">
						
						<div class="container">
							
							<div id="category" class="category-filter">
								
								<h2 class="filter-heading">方 向：</h2>
								


								<div class="filter-options">
									
									<ul class="filter-nav">
										{{volist name="categoryList" id="vo"}}
										
										<li class="filter-item">
											<a data-category-id="{{$vo.category_id}}"
												href="javascript:;" class="filter-link">{{$vo.category_name}}</a>
										</li>
										{{/volist}}
									</ul>
									

								</div>

							</div>

							
							<div class="download-tab-content">
								
								<div id="kt_projects_list_grid" class="download-grid">
									
									<div class="download-row">
										{{volist name="attachmentList" id="vo"}}
										<div class="download-item">
											
											<a href="/blog/filelistxiazai/{{$vo.attach_id}}.html" class="download-card-link">
												
												<div class="download-card-header">
													
													<div class="card-title-section">
														
														<div class="card-avatar">
															<img src="{{$Think.STATIC_URL}}static/cms/media/svg/brand-logos/fox-hub.svg" alt="image" />
														</div>
														
													</div>
													
													
													<div class="card-toolbar">
														<span class="toolbar-span">无</span>
													</div>
													
												</div>
												
												
												<div class="download-card-body">
													
													<div class="card-name">{{$vo.attach_title}}</div>
													
													
													<p class="card-description">...</p>
													
													
													<div class="card-info">
														
														<div class="info-item">
															<div class="info-value">{{$vo.create_time}}</div>
															<div class="info-label">上传日期</div>
														</div>
														
														
														<div class="info-item">
															<div class="info-value">{{$vo.download_count}}次</div>
															<div class="info-label">下载</div>
														</div>
														
													</div>
													
													
												</div>
												
												
												<div class="download-progress">
													<div class="progress-bar" style="width: 30%"></div>
												</div>
												
											</a>
											
										</div>
										{{/volist}}
									</div>
									
								</div>
							</div>
							
							
							
							<div class="pagination-section">
								<div class="pages">{{$page | raw}}</div>
							</div>
							
						
							
							
						</div>
						
					</div>
					
				</div>
				
				{{include file='layout/footer' /}}
			</div>
			
		</div>
		
	</div>
	
</body>

</html>