{{include file='layout/header' /}}



<body id="kt_body" data-bs-spy="scroll" data-bs-target="#kt_account_settings" data-bs-offset="200"
	data-bs-target-offset="175"
>
	
	
	<div class="download-details-container">
		
		<div class="download-details-page">

			
			<div id="kt_wrapper">
				{{include file='layout/kt_header' /}}
				
				<div id="kt_content" class="download-details-content">

					
					<div id="kt_post" class="download-details-post">
						
						<div class="container">
							<div class="download-details-layout">

								
								<div class="download-content">


									
									<div id="kt_account_settings_overview" class="download-card">
										
										<div id="kt_account_overview" class="download-overview">
											
											<div class="card-body">
												<div class="download-header">
													<!-- <div class="download-tags">

														<span>#百度</span>
														<span>#求助</span>
														<span>#未来</span>
														<span>#学历</span>
													</div> -->

													<div class="download-info">

														
														<div class="download-profile">

															<div class="download-cover">
																<div class="cover-image"
																	style="background-image:url(https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png)">
																</div>
															</div>

															<div class="download-title"><a
																	href="javascript:;"
>

																	{{$content['attach_title']}}
																	<p class="download-stats">
																		<span class="stats-icon">
																			<svg xmlns="http://www.w3.org/2000/svg"
																				width="18" height="18"
																				viewBox="0 0 24 24" fill="none">
																				<path
																					d="M11 2.375L2 9.575V20.575C2 21.175 2.4 21.575 3 21.575H9C9.6 21.575 10 21.175 10 20.575V14.575C10 13.975 10.4 13.575 11 13.575H13C13.6 13.575 14 13.975 14 14.575V20.575C14 21.175 14.4 21.575 15 21.575H21C21.6 21.575 22 21.175 22 20.575V9.575L13 2.375C12.4 1.875 11.6 1.875 11 2.375Z"
																					fill="black"></path>
																			</svg>
																		</span>
																		无 <span class="divider"> | </span>
																		{{$content['read_count']}}次阅读 <span class="divider"> | </span>
																		{{$content['download_count']}}次下载
																		<!-- <span class="divider"> | </span> 3页 -->
																		<span class="divider"> | </span>
																		{{$content['attach_size']}} <span class="divider"> | </span>
																	</p>

																</a></div>

														</div>
														
													</div>

												</div>

												<div class="download-separator"></div>

												
												<div class="download-action-row">

													<div class="download-action">
														<button type="button" class="download-btn" {{if
															$userInfo}}onclick="downloadAttach({{$content['attach_id']}})"
															{{else}}onclick="alertMsg('请先登录')" {{/if}}
>
															
															<span class="action-icon">
																<svg xmlns="http://www.w3.org/2000/svg" width="24"
																	height="24" viewBox="0 0 24 24" fill="none">
																	<path
																		d="M14.4 11H2.99999C2.39999 11 1.99999 11.4 1.99999 12C1.99999 12.6 2.39999 13 2.99999 13H14.4V11Z"
																		fill="black"></path>
																	<path
																		d="M17.7762 13.2561C18.4572 12.5572 18.4572 11.4429 17.7762 10.7439L13.623 6.48107C13.1221 5.96697 12.25 6.32158 12.25 7.03934V16.9607C12.25 17.6785 13.1221 18.0331 13.623 17.519L17.7762 13.2561Z"
																		fill="black"></path>
																	<rect opacity="0.5" width="2" height="16" rx="1"
																		transform="matrix(-1 0 0 1 22 4)" fill="black">
																	</rect>
																</svg>
															</span>
															下载
															
														</button>
													</div>
													<div class="action-spacer"></div>


												</div>
												
												
												<div class="download-actions">



													<div class="action-section">


													</div>




												</div>
												


											</div>
											
										</div>


										
									</div>
									
									<div class="download-description">
										
										<div class="description-card">
											
											<div class="card-body">
												<div class="description-content">
													{{$content['attach_content'] | raw}}
												</div>
											</div>
											
										</div>
										

										
										{{if !$userInfo}}
										<div class="login-prompt">
											
											<div class="prompt-body">
												
												<div class="prompt-wrapper">
													
													<div class="prompt-section">
														
														<h3 class="prompt-title">
															VIP会员查看 & 下载
														</h3>
														

														
														<div class="prompt-action">
															<a href="/blog/login.html" class="login-link">登录</a>
														</div>
														
													</div>
													

												</div>
												
											</div>
											
										</div>
										{{/if}}
										
									</div>



								</div>
								

								{{include file='layout/aside' /}}
							</div>

						</div>
						
					</div>
					
				</div>
				

				{{include file='layout/footer' /}}

			</div>
			
		</div>
		
	</div>
	
</body>


</html>

<script>
	function downloadAttach(attachId) {
		if (!attachId) alertMsg('参数错误');
		window.location.href = "/index/attachment/download?attach_id=" + attachId;
	}
	$(function () {
		var attach_id = "{{$content['attach_id']}}";
		$.ajax({
			type: "POST",
			url: "/cms/attachment/readCount",
			data: { attach_id: attach_id },
			dataType: "json",
			success: function (response) {

			}
		});
	})
</script>