{{include file='layout/header' /}}

<body id="kt_body">
	
	
	<div class="share-container">
		
		<div class="share-page">

			
			<div id="kt_wrapper">

				{{include file='layout/kt_header' /}}

				<div id="kt_content" class="share-content">

					
					<div id="kt_post" class="share-post">
						
						
						<div class="share-card">
							
							<div class="card-header">
								
								<div class="card-title">分享面试题得红包</div>
								
							</div>
							
							
							<form id="kt_project_settings_form" class="share-form">
								
								<div class="card-body">

									
									<div class="form-row title-row">
										

										<h2 class="row-title">标题：</h2>

										
										
										<div class="form-col">
											<input type="text" name="file-name" class="form-input"
												value="" placeholder="请输入面试题标题" />
										</div>
									</div>
									
									
									<div id="category" class="category-filter">
										
										<h2 class="filter-heading">方 向：</h2>
										


										<div class="filter-options">
											
											<ul class="filter-nav">
												{{volist name="categoryList" id="vo"}}
												
												<li class="filter-item">
													<a
														data-category-id="{{$vo.category_id}}"
														href="javascript:;" class="filter-link">{{$vo.category_name}}</a>
												</li>
												{{/volist}}
											</ul>
											

										</div>

									</div>




									
									<div class="form-row content-row">

										<div class="form-col">

											<div class="editor-section">

												<div id="myTabContent" class="tab-content">


													<div id="kt_tab_pane_8" class="tab-pane"
														role="tabpanel">
														
														<div class="form-row">

															
															<div class="form-col">
																<label class="form-label">内
																	容：</label>
																<div id="test-editormd" class="editor-container">
																	<textarea style="display:none;" class="editor-textarea"></textarea>
																</div>

															</div>
														</div>
														
													</div>


												</div>
											</div>
										</div>


									</div>


									


								</div>
								
								
								<div class="card-footer">
									<button type="reset" class="reset-btn">重置</button>
									<button type="button"
										id="kt_project_settings_submit" class="submit-btn">上传</button>
								</div>
								
							</form>

						</div>
						
					</div>
					

					
				</div>
				{{include file='layout/footer' /}}
			</div>
			
		</div>
		
	</div>
	
	<div id="test"></div>

	<input type="hidden" name="attach-path" value="" class="hidden-input">
	<input type="hidden" name="category-id" value="" class="hidden-input" />
</body>


</html>


<script>
	/*
	var myDropzone = new Dropzone("#kt_dropzonejs_example_1", {
		url: "/upload", // Set the url for your upload script location
		paramName: "file", // The name that will be used to transfer the file
		maxFiles: 1,
		maxFilesize: 10, // MB
		addRemoveLinks: true,
		success: function (file, json) {
			if (!json.code) {
				alertMsg(json.msg)
				return
			}
			// alertMsg(json.data)
			$('input[name="attach-path"]').val(json.data)
		}
	});

	*/

</script>

<script type="text/javascript">
	var testEditor;

	$(function () {
		testEditor = editormd("test-editormd", {
			width: "100%",
			height: 540,
			syncScrolling: "single",
			path: "{{$Think.STATIC_URL}}static/cms/editor/lib/",
			toolbarIcons: function () {
				return [
					"undo", "redo", "|",
					"bold", "del", "italic", "quote", "uppercase", "lowercase", "|",
					"h1", "h2", "h3", "h4", "h5", "h6", "|",
					"list-ul", "list-ol", "hr", "|",
					"watch", "preview", "|",
					"table", "reference-link", "image", "code", "preformatted-text", "code-block"
				]
			},

		});

		/*
		// or
		testEditor = editormd({
			id      : "test-editormd",
			width   : "90%",
			height  : 640,
			path    : "../lib/"
		});
		*/
	});
</script>

<script>
	$(function () {
		$("#kt_project_settings_submit").click(function () {
			var info = {}
			info.attach_title = $('input[name="file-name"]').val();
			info.category_id = $('input[name="category-id"]').val();
			info.attach_content_filtered = $('textarea[name="attach_content"]').val();
			info.attach_path = $('input[name="attach-path"]').val();
			info.attach_content = $('.editormd-preview').html();
			console.log(info)
			if (!info.attach_title) {
				alertMsg("请输入面试题标题")
				return
			}
			if (!info.category_id) {
				alertMsg("请选择方向")
				return
			}
			if (!info.attach_path && !info.attach_content) {
				alertMsg("请上传面试题或者编辑面试题")
				return
			}
			$.ajax({
				type: "post",
				url: "/cms/attachment/add",
				data: { info: info },
				dataType: "json",
				success: function (json) {
					if (!json.code) {
						alertMsg(json.msg)
						return
					}
					alertMsg(json.msg, json.data.url)
					console.log(json)
				}
			})
			.always(function () {
				alertLoading()
			}).complete(function () {
				layer.closeAll('loading', function () { });
			});
		})
	})
</script>