<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
    <div class="layui-container" style="margin-top: 20px;">
        <div class="layui-row">
            <div class="layui-col-md6 layui-col-md-offset3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        <span class="layui-breadcrumb">
                            <a href="javascript:;" lay-href="admin/index/index">首页</a>
                            <a href="javascript:;" lay-href="admin/user/index">用户管理</a>
                            <a><cite>修改密码</cite></a>
                        </span>
                    </div>
                    <div class="layui-card-body">
                        <form class="layui-form" action="" lay-filter="password-form">
                            <input type="hidden" name="uid" value="{$uid}">
                            
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码 <span class="required-mark">*</span></label>
                                <div class="layui-input-block">
                                    <input type="password" 
                                           name="password" 
                                           placeholder="请输入新密码（6-20个字符）" 
                                           lay-verify="required|password" 
                                           autocomplete="new-password"
                                           class="layui-input">
                                </div>
                            </div>
                            
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认密码 <span class="required-mark">*</span></label>
                                <div class="layui-input-block">
                                    <input type="password" 
                                           name="confirm_password" 
                                           placeholder="请再次输入新密码" 
                                           lay-verify="required|confirmPassword" 
                                           autocomplete="new-password"
                                           class="layui-input">
                                </div>
                            </div>
                            
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="password-submit">
                                        <i class="layui-icon layui-icon-ok"></i> 确认修改
                                    </button>
                                    <button type="button" class="layui-btn layui-btn-primary" id="btn-back">
                                        <i class="layui-icon layui-icon-return"></i> 返回
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/static/layui/layui.js"></script>
    <script>
        layui.use(['form', 'layer'], function() {
            var form = layui.form;
            var layer = layui.layer;
            var $ = layui.$;
            
            // 表单验证规则
            form.verify({
                password: function(value) {
                    if (!value) {
                        return '新密码为必填项';
                    }
                    if (value.length < 6) {
                        return '密码长度不能少于6个字符';
                    }
                    if (value.length > 20) {
                        return '密码长度不能超过20个字符';
                    }
                },
                confirmPassword: function(value) {
                    var password = $('input[name=password]').val();
                    if (!value) {
                        return '请再次输入新密码';
                    }
                    if (value !== password) {
                        return '两次输入的密码不一致';
                    }
                }
            });
            
            // 监听提交
            form.on('submit(password-submit)', function(data) {
                var loading = layer.load(1);
                
                $.ajax({
                    url: '{:url("admin/user/savePassword")}',
                    type: 'post',
                    data: data.field,
                    dataType: 'json',
                    success: function(res) {
                        layer.close(loading);
                        if (res.code === 1) {
                            layer.msg(res.msg, {icon: 1}, function() {
                                // 如果有返回URL则跳转，否则返回用户列表页
                                if (res.url) {
                                    window.location.href = res.url;
                                } else {
                                    window.location.href = '{:url("admin/user/index")}';
                                }
                            });
                        } else {
                            layer.msg(res.msg, {icon: 2});
                        }
                    },
                    error: function() {
                        layer.close(loading);
                        layer.msg('网络错误，请稍后重试', {icon: 2});
                    }
                });
                
                return false;
            });
            
            // 返回按钮事件
            $('#btn-back').on('click', function() {
                history.back();
            });
            
            // 渲染表单
            form.render();
        });
    </script>
    
    <style>
        .required-mark {
            color: #ff5722;
        }
        
        .layui-form-label {
            width: 120px;
        }
        
        .layui-input-block {
            margin-left: 150px;
        }
        
        @media screen and (max-width: 768px) {
            .layui-form-label {
                width: 80px;
                padding-left: 0;
            }
            
            .layui-input-block {
                margin-left: 100px;
            }
        }
    </style>
</body>
</html>