<!DOCTYPE html>
<html>

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<title></title>
	<link media="all" href="/static/chat/css/style.css?v=2224" type="text/css" rel="stylesheet">
	<link media="all" href="/static/chat/css/shake.css?v=2224" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="/static/layui/css/layui.css?t=1" type="text/css" media="screen" />
	<style>
		.w-e-menu:first-child .w-e-panel-container {
			margin-top: -265px!important;
			margin-left: -20px!important;
		}
		{if $isMobile}
		#sub-menu-pannel {
			width: 100%;
		}
		#content-pannel {
			display: none;
		}
		{/if}
	</style>
</head>

<body>
	<div id="layout-container">
		<div id="layout-main">
			<div id="header">
				<!-- <div style="float: left;">
					<span>返回</span>
				</div> -->
				<div style="float: right; display: none;">
					<div class="profile"></div>
				</div>
			</div>
			<div id="body">
				<div id="menu-pannel">
					<ul class="main-menus" id="main-menus"></ul>
				</div>
				<div id="menu-pannel-body">
					<div id="sub-menu-pannel" class="conv-list-pannel">
						<div class="conv-lists-box" id="user-lists">
							<div class="conv-lists" id="conv-lists"></div>
						</div>
					</div>
					<div id="content-pannel">
						<div class="conv-detail-pannel">
							<div class="content-pannel-body chat-box-new" id="chat-box">
								<div class="main-chat chat-items" id="chat-lists">
									<div class="msg-items" id="chatLineHolder"></div>
								</div>
							</div>
							<div>
								<div class="send-msg-box-wrapper">
									<div class="input-area" style="display:none;">
										<ul class="tool-bar" id="msgToolBar">
											<!-- <li class="tool-item">
												<i class="iconfont tool-icon tipper-attached emotion_btn"
													title="表情"></i>
												<div class="faceDiv"></div>
											</li>
											<li class="tool-item">
												<i class="iconfont tool-icon icon-card tipper-attached"
													onclick="upload()" title="图片"></i>
											</li> -->
										</ul>
										<div class="user-guide">
											<span>按 Enter 发送</span>
											<span>
												<a href="javascript:;" id="showGroupUser" onclick="chat.showGroupUser(this)">
													<i class="layui-icon layui-icon-group"></i>
												</a>
											</span>
										</div>
										
										<div class="msg-box" style="width: 100%; height:100%;" id="msgInput"  onkeydown="chat.keySend(event);">
											<!-- <textarea class="textarea input-msg-box" onkeydown="chat.keySend(event);"
												id="chattext"></textarea> -->
										</div>
									</div>
									<!-- <div class="action-area" style="display:block;">
										<a href="javascript:;" class="send-message-button"
											onclick="chat.sendMessage()">发送</a>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="carrousel"> <span class="close entypo-cancel"></span>
		<div class="wrapper"> <img src="/static/chat/images/noimg.png" /> </div>
	</div>
	<input type="hidden" value="{$touid}" id="privateToUid">
	<input type="hidden" value="{$fromuid}" id="privateFromUid">
	<input type="hidden" value="{$isMobile}" id="isMobile">
	<script>
		var config = {
			'wsserver' : "{$wsserver}"
		}
	</script>
	<script src="/static/chat/js/jquery.min.js"></script>
	<script src="/static/chat/js/face.js?v=3345"></script>
	<script src="/static/chat/js/create.div.js?v=33"></script>
	<script src="/static/chat/js/chat.script.js?v=34"></script>
	<script src="/static/chat/js/functions.js?v=2115"></script>
	<script src="/static/chat/js/xlyjs.js?v=215"></script>
	<script src="/static/layui/layui.js?4"></script>
	<script language="javascript" type="text/javascript" src="/static/common/js/index.js?16"></script>
	<script type="text/javascript" src="/static/common/js/wangEditor.min.js"></script>
	<script src="/static/chat/js/edit.js?v=5"></script>
</body>

</html>