ul,li,p,h1,h2,h3,h4,form,ol,table{list-style:none;margin:0;padding:0}
/* body{background:url(../images/bg.jpg) top left;text-align:center;font:12px/1.5 Arial,Helvetica;color:#393939;margin:0;padding:0;} */
body{background:url(../images/bg4.svg) no-repeat 0 0;background-attachment:fixed;background-size:100% 100%;height:auto;min-height: 100%;text-align:center;font:12px/1.5 Arial,Helvetica;color:#393939;margin:0;padding:0;}
a{text-decoration:none;color:#3B5999;}
.users .users-nickname{margin-top: 5px; display:block;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;}
a:hover{text-decoration:underline;padding-bottom:2px;}
.users .users-nickname:hover{text-decoration:underline;padding-bottom:0;}
a img{border:0;border-radius: 10px;}
.clear{clear:both}
.clearall{clear:both;height:1px;}
.container{text-align:left;width:800px;margin:auto;}
.header{height:80px;}
.logo{float:left;margin:5px 0 0 5px;}
.navigation{float:right;margin:20px 5px 0 0;background-color:#FFF;padding:8px;}
.navigation li{display:inline;padding:0 10px;}
.main{background:#d5f3f4;}
.main .box .massageText iframe{width: 130%;}
/* .main .box .massageText{white-space: break-spaces;} */
/* word-break: keep-all; */
.contents{float:left;width:600px;min-height:1300px;background-color:#FFF;}
.sidebar{float:right;width:200px;background-color:#D5F3F4;}
.top{padding:8px 12px;background-color:#EEE;}
.sidebar h2{background:url(../images/rightnavbg.gif) 0 0 no-repeat;font-size:14px;line-height:30px;font-weight:normal;padding:0 10px;}
.sidebar h2 a{color:#FFF;}
.sidebar .box{margin:0 0 20px 0;}
.sidebar h3{font-size:14px;line-height:30px;font-weight:normal;padding:0 10px;background:url(../images/rightnavbg.gif) 0 -30px no-repeat;}
.sidebar h3 span{float:right;font-size:12px;}
.sidebar p, .sidebar .info, .sidebar .counter,.sidebar .users,.sidebar .more,.sidebar ul,.sidebar ol{margin:5px 10px;}
.sidebar ul li{background:url(../images/dot.gif) 3px 8px no-repeat;padding-left:15px;}
.sidebar ol li{padding:3px 0;margin:0px;}
.sidebar .info{margin:15px;}
.sidebar .info li,.sidebar .users li{background:none;padding:0px;}
.sidebar .info .avatar{float:left;width:52px;}
.sidebar .info .avatar img{width:48px;height:48px;}
.sidebar .info .detail{float:right;width:115px;}
.sidebar .info .detail p{margin:3px 10px;}
.sidebar .counter{background:url(../images/rightnavbg.gif) 0 -90px no-repeat;height:50px;}
.sidebar .counter .counterbox{float:left;width:60px;text-align:center;line-height:25px;}
.sidebar .users li{float:left;width:60px;text-align:center;padding:10px 0;}
.sidebar .users li img{width:48px;height:48px;}
.sidebar .users li span a{color:#7892CB}
.sidebar .more{text-align:right;}
.sidebar .input{width:160px;}
.contents .post{padding:15px 30px;}
.contents .post textarea{width:534px;height:100px;}
.contents .mywii{width:334px;height:130px;}
.contents .post .postnow span{margin-top: 10px;float:right;}
.contents h2, .contents h3,.contents table{margin:5px 20px;}
.contents h2{font-size:14px;height:23px;border-bottom:1px solid #D5D5D5;}
.contents h3{font-size:12px;font-weight:normal;}
.contents h3 span{padding-left:40px;line-height:25px;}
.contents .entry{clear: both;background:url(../images/linedot.gif) bottom left repeat-x;margin:15px 20px 20px 20px;font-size:14px;}
.contents .entry .avatar{float:left;width:60px;text-align:center;}
.contents .entry .avatarhtml{text-align:center;}
.contents .entry .avatar img{width:48px;height:48px;border:2px solid #FFF;}
.contents .entry .avatar .imgborder{width:52px;height:52px;background-color:#FFF;border:1px solid #EEE;}
.contents .entry .box{float:right;width:485px;white-space:normal; word-break:break-all;word-wrap:break-word;}
.contents .entry .box .detail{font-size:12px;margin:5px 0 20px 0;}
.contents .entry .box .detail li{display:inline;padding-right:20px;}
.contents .entry .box .static{font-size:12px;color:#B6B6B6;padding:10px 0;}
.contents .entry .box .static span{float:right;}
.contents .entry .block_static{font-size:12px;color:#B6B6B6;padding:10px 5px 0 0;text-align:right;}
.contents .entry .block_static a{font-size:12px;color:#8FA5D3;}
.contents .entry .box .block{margin:15px 0;font-size:12px;}
.contents .entry .box .block .block_top{background:url(../images/block_top.gif) top left no-repeat;height:17px;}
.contents .entry .box .block .block_bottom{background:url(../images/block_bottom.gif) top left no-repeat;height:5px;}
.contents .entry .box .block .block_body{background:url(../images/block_body.gif) top left repeat-y;padding:5px 15px;}
.contents .entry .box .block .block_body span{word-break: keep-all;}
.contents .entry .formhr{width:387px;clear:both;background:url(../images/linedot.gif) 0 0 repeat-x;height:1px;margin:5px 0;}
.contents .fansbar{background-color:#FFFFEA;border:1px solid #D0D0D0;margin:15px 30px;padding:15px 15px 15px 30px;}
.footer{margin:20px 0 10px 0;font-size:10px;height:30px;}
.footer p{font-size:12px;}
.footer .poweredby{float:left;}
.footer .copyright{float:right;text-align:right;}
.contents table{ width: 550px;} 
.contents .formsetting{width:530px;height:530px;}
th { font: bold 12px ; color: #4f6b72; 
border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; border-top: 1px solid #C1DAD7; letter-spacing: 2px; text-transform: uppercase; text-align: left; padding: 6px 6px 6px 12px; background: #CAE8EA  no-repeat; } 
th.nobg { border-top: 0; border-left: 0; border-right: 1px solid #C1DAD7; background: none; } 
td { border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; background: #fff; font-size:12px; padding: 6px 6px 6px 12px; color: #4f6b72;}
td.center,th.center{ text-align:center; } 
.center{text-align:center;}
.full{background-color:#fff;min-height:400px;height:auto !important;height:400px;}
.msg{margin:50px 100px;background-color:#D5F3F4;padding:10px; border:1px dotted #C1DAD7;text-align:left;}
.msg h4{font-size:14px;font-weight:blod;}
.moban{width:180px;height:400px;float:left;text-align:center;}
.formitem {padding:10px 0;}
.formsubmit{padding:20px 0;}
.formitem span{width:80px;float:left;}
.formitem u{text-decoration:none;color:#999;padding:0 5px;}
.formitem .formintro{width:382px;height:80px;}
i.warning{color:red}
.postad i{font-weight:blod;padding-right:10px;}
.pagination {PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center}
.pagination li {float:left;BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #036cb4; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid; TEXT-DECORATION: none}
.pagination li:hover {BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid}
.pagination li:active {BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; COLOR: #666; BORDER-BOTTOM: #999 1px solid}
.pagination .active {BORDER-RIGHT: #036cb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #036cb4 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #036cb4 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #036cb4 1px solid; BACKGROUND-COLOR: #036cb4}
.pagination .disabled {BORDER-RIGHT: #eee 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eee 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eee 1px solid; COLOR: #ddd; PADDING-TOP: 2px; BORDER-BOTTOM: #eee 1px solid}
#codewidth, #codeheight{width:35px;text-align:center;margin-right:5px;}
.framecss{text-align:left;width:200px}
.frametop{padding:15px;}
.frametop .logo{float:left;margin:0;height:50px;}
.frametop .detail{float:left;padding-left:10px;}
.framebody{text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
.framebody .box{padding:5px 15px;border:1px dotted #CCC;margin: 5px 0;background:#FFF;white-space:normal; word-break:break-all;word-wrap:break-word;}
.framebody .static{text-align:right;}
.framebottom{height:35px;background-color:#EEE;line-height:35px;text-align:center;}
.framebottom span{float:right;padding-right:15px;}
.sendMsg{text-align: center;background-color: #fff8bf;display: none}
.dplayer{border-radius: 8px;width: 400px;}
.info .detail p:nth-child(3){width:55px;height: 17px;text-align: center;font-size: 10px;background: #0db2f7;border-radius: 4px;}
.newReminder li span{color: red;};