<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>邀请码注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="注册爱嘀咕" />
    <meta name="keywords" content="注册爱嘀咕" />
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link rel="stylesheet" href="/static/user/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user/css/animate.css">
    <link rel="stylesheet" href="/static/user/css/style.css">
    <script src="/static/user/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="/static/user/js/respond.min.js"></script>
	<![endif]-->

</head>

<body class="style-3">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="menu">
                    <!-- <li><a href="javascript:;">注册爱嘀咕</a></li> -->
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-push-9 user-top">
                <form action="#" class="fh5co-form animate-box" data-animate-effect="fadeInRight">
                    <h2>邀请码注册</h2>
                    <div class="form-group">
                        <div class="alert alert-danger"></div>
                        <!-- <div class="alert alert-warning"></div> -->
                        <div class="alert alert-success"></div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="sr-only">账号</label>
                        <input type="text" class="form-control" id="account" onfocusout="checkInfo(this, 1)" placeholder="专属账号（英文）" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">昵称</label>
                        <input type="email" class="form-control" id="nickname" onfocusout="checkInfo(this, 2)" placeholder="请输入昵称" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">密码</label>
                        <input type="password" class="form-control" id="password" placeholder="密码" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="re-password" class="sr-only">确认密码</label>
                        <input type="password" class="form-control" id="re-password" placeholder="确认密码" autocomplete="off">
                    </div>
                    <input type="hidden" id="invite-code" value="{$inviteCode}">
                    <div class="form-group">
                        <input type="button" value="注册" id="register" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        {if $beian}
        <div class="row" style="position: fixed; bottom: 0;">
            <div class="col-md-12 text-center">
                <p>
                    <small>
                        &copy; All Rights Reserved. - <a href="https://beian.miit.gov.cn/" title="{$beian}" target="_blank">{$beian}</a>
                    </small>
                </p>
            </div>
        </div>
        {/if}
    </div>
    <!-- jQuery -->
    <script src="/static/user/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/user/js/bootstrap.min.js"></script>
    <!-- Placeholder -->
    <script src="/static/user/js/jquery.placeholder.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/user/js/jquery.waypoints.min.js"></script>
    <!-- Main JS -->
    <script src="/static/user/js/main.js"></script>
    <script src="/static/user/js/common.js?1"></script>

</body>

</html>